openapi: 3.2.0
info:
  title: Democracy Works Exports API
  version: '2.0'
  description: '# Introduction


    The Democracy Works Elections API provides your application with comprehensive elections data and voting guidance, surfacing our unparalleled coverage of upcoming local, state, and federal elections.'
servers:
- url: https://api.democracy.works/v2
tags:
- name: Exports
paths:
  /exports:
    get:
      operationId: getExports
      summary: Exports
      description: 'This endpoint serves presigned URLs to flat files on AWS S3. It supports no parameters.


        To set up a bulk data export, contact partnerships@democracy.works.


        Presigned URLs are temporary and expire after one hour. Download the file promptly after requesting a URL. If a URL expires before you can download your file, request a new one from this endpoint.


        Presigned URLs grant access to your data. Do not share these URLs with any party that should have access to this data.


        Learn more about Working with presigned URLs on AWS.'
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Exports fetched by query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/export'
              examples:
                sampleExportsRespose:
                  $ref: '#/components/examples/exports'
      tags:
      - Exports
components:
  examples:
    exports:
      summary: Sample exports response
      description: 'This is **fictional** data to provide examples of fields values.

        '
      value:
        exportName: supplemental_data.json
        exportUrl: https://example_presigned_url.s3.us-west-2.amazonaws.com/file.txt?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=temporary_credential&X-Amz-Date=20180210T171315Z&X-Amz-Expires=3600&X-Amz-Signature=abc123&X-Amz-SignedHeaders=host
  schemas:
    export:
      description: A representation of an export.
      type: object
      properties:
        exportName:
          type: string
          description: Provides the name of the export file.
        exportUrl:
          type: string
          description: Provides a presigned URL to a file in AWS s3 containing data in JSON format.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
