openapi: 3.2.0
info:
  title: Democracy Works Ballot Measures API
  version: '2.0'
  description: '# Introduction


    The Democracy Works Elections API provides your application with comprehensive elections data and voting guidance, surfacing our unparalleled coverage of upcoming local, state, and federal elections.'
servers:
- url: https://api.democracy.works/v2
tags:
- name: Ballot Measures
paths:
  /ballot-measures:
    get:
      operationId: getBallotMeasure
      summary: Ballot Measure
      description: Information on the ballot measures on the ballot, including a summary and the full text of the ballot measure.
      security:
      - ApiKeyAuth: []
      parameters:
      - name: id
        in: path
        schema:
          type: string
          description: Hash identifier of the ballot measure to get.
          example: bm_b2897f4f799485eaba40901bc0ed38310dc8211a
        required: true
      responses:
        '200':
          description: Ballot measure fetched by query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ballotMeasure'
              examples:
                sampleBallotMeasureResponse:
                  $ref: '#/components/examples/ballotMeasures'
        '400':
          $ref: '#/components/responses/badRequestError'
        '404':
          description: Not Found Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
              example:
                status: 404
                message:
                - Ballot Measure not found.
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        '500':
          $ref: '#/components/responses/internalServerError'
      tags:
      - Ballot Measures
components:
  examples:
    ballotMeasures:
      summary: Sample ballotMeasure response
      description: 'This is **fictional** data to provide examples of fields values.

        '
      value:
        data:
          ballotMeasures:
            id: bm_b2897f4f799485eaba40901bc0ed38310dc8211a
            name: Yreka, California, Measure V, Sales Tax Measure (November 2024)
            shortName: Measure V
            streamlinedName: Yreka, California, Measure V, Sales Tax Measure
            districtName: Yreka
            districtType: cityTown
            type: Referral
            topics:
            - Local electoral systems
            - Local elections and campaigns
            topicAreas:
            - Law Enforcement
            - Taxes
            summary: Authorize an additional sales tax of 1% with revenue dedicated to public safety services
            yesVote: <p>A “yes” vote supported authorizing an additional sales tax of 1% with revenue dedicated to public safety services.</p>
            yesVoteTotal: 1655
            noVote: <p>A “no” vote opposed authorizing an additional sales tax of 1% with revenue dedicated to public safety services.</p>
            noVoteTotal: 1458
            ballotQuestion: I<p>MEASURE V</p><p>To maintain and improve essential city services, including local firefighting and emergency medical response; hire and train firefighters; upgrade/replace aging firefighting safety equipment, life-saving tools and an outdated fire station, shall an ordinance be adopted to impose a one percent sales tax providing approximately 2.4 million dollars annually for general government use, until ended by the voters, with independent audits and all funds staying local</p><p>YES_________ NO__________</p>"
            ocdId: ocd-division/country:us/state:ca/place:yreka
            status: approved
            endorsementYesCount: 1
            endorsementNoCount: 0
  responses:
    internalServerError:
      description: InternalServerError
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errors'
          example:
            status: 500
            message:
            - Something went wrong.
    badRequestError:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errors'
          example:
            status: 400
            message:
            - Something has gone wrong parsing your request. Please refer to our documentation at https://developers.democracy.works/api/v2 to confirm all required fields are present and all fields are formatted correctly.
    tooManyRequestsError:
      description: TooManyRequestsError
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayErrors'
          example:
            message: Too Many Requests
  schemas:
    gatewayErrors:
      type: object
      properties:
        message:
          type: string
      required:
      - message
    errors:
      type: object
      properties:
        status:
          type: integer
        message:
          type: array
      required:
      - status
      - message
    ballotMeasure:
      description: Information on the ballot measures on the ballot, including a summary and the full text of the ballot measure.
      type: object
      required:
      - id
      - name
      - shortName
      - districtName
      - districtType
      - type
      - topics
      - summary
      - yesVote
      - noVote
      - ocdId
      properties:
        id:
          type: string
          description: The ID of the ballot measure.
        name:
          type: string
          description: The name of the ballot measure.
        shortName:
          type: string
          description: The concise name of the ballot measure.
        streamlinedName:
          type: string
          description: The ballot measure name without reference to the state name or year.
        districtName:
          type: string
          description: The name of the district covered by the ballot measure.
        districtType:
          type: string
          description: The type of district relevant to the ballot measure.
          enum:
          - cityTown
          - cityTownSubdivision
          - congress
          - county
          - countySubdivision
          - judicialDistrict
          - judicialDistrictSubdivision
          - schoolDistrict
          - schoolDistrictSubdivision
          - specialDistrict
          - specialDistrictSubdivision
          - state
          - stateLegislativeLower
          - stateLegislativeUpper
          - stateSubdivision
          - township
        type:
          type: string
          description: The type of ballot measure.
        topics:
          type: array
          items:
            type: string
          description: An array of topics covered by a ballot measure.
        topicAreas:
          type: array
          items:
            type: string
          description: 'An array of topic areas covered by a ballot measure.


            `Localized`

            '
        summary:
          type: string
          description: Describes a summary of the ballot measure.
        yesVote:
          type: string
          description: Describes what a vote supporting the ballot measure means.
        noVote:
          type: string
          description: Describes what a vote opposed to the ballot measure means.
        yesVotesTotal:
          type: number
          description: The number of YES votes this ballot measure received.
        noVotesTotal:
          type: number
          description: The number of NO votes this ballot measure received.
        ballotQuestion:
          type: string
          description: The full text of the ballot measure.
        ocdId:
          type: string
          description: The OCD-ID associated with the jurisidiction covered by the ballot measure.
        status:
          type: string
        endorsementYesCount:
          type: number
          description: The number of "support" endorsements for this ballot measure.
        endorsementNoCount:
          type: number
          description: The number of "oppose" endorsements for this ballot measure
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
