openapi: 3.2.0
info:
  title: Democracy Works Elections API
  version: '1.0'
  description: 'Operations tagged Elections across 2 of this provider''s published API definitions: democracy-works-api-v1-openapi.json, democracy-works-api-v2-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Democracy Works API
  url: https://api.democracy.works
- url: https://api.democracy.works/v2
tags:
- name: Elections
paths:
  /elections/upcoming:
    get:
      summary: Upcoming elections
      description: 'An “upcoming” Election is one that is in our system and the date is in

        the future, including the day that the request is made. Both statewide

        and local Elections are part of this data set. We define a statewide

        Election as any election where all voters in the state have something on

        the ballot or any federal congressional election. These generally end in

        a two-letter state code. All other elections are considered local.


        There are two ways to request Upcoming Elections:


        1. all at once

        2. one (or more) OCD-ID(s) at a time


        Be sure to include the `Accept` header because the default

        `Content-Type` is the lesser known EDN (application/edn). The two

        `Content-Type`s supported are `application/json` and `application/edn`.


        ### All Upcoming Elections


        Returns a list of all upcoming elections.


        An example response is available, and all field definitions are in the

        Upcoming Elections API Reference.


        ```bash

        curl -H "Accept: application/json" \

        -H "Authorization: apikey $YOUR_API_KEY" \

        https://api.democracy.works/elections/upcoming

        ```


        ### Upcoming Elections by OCD-ID


        Returns a list of all upcoming elections for the provided OCD-ID(s).

        Same as the above, but filtered.


        ```bash

        curl -H "Accept: application/json" \

        -H "Authorization: apikey $YOUR_API_KEY" \

        "https://api.democracy.works/elections/upcoming?district-divisions=ocd-division/country:us/state:il/place:chicago"

        ```'
      parameters:
      - in: query
        name: district-divisions
        schema:
          type: string
        description: 'A **comma-separated** list, supplied as a string, of OCD IDs that will

          return upcoming elections only for the OCD IDs provided.

          '
      - in: query
        name: language
        description: 'By default, responses include instructions in English. At this time we

          support 2 languages: English (`en`) and Spanish (`es`). Use this parameter to receive

          instructions in a single language.


          You may also use `all` to receive instructions in both English and

          Spanish. Note that this changes the structure of the response; any

          field which supports localized instructions will be an object keyed by all

          supported languages, exemplified by the following JSON fragment:


          ```

          {"instructions": {"en": "...", "es": "..."}}

          ```

          '
        schema:
          type: string
          enum:
          - en
          - es
          - all
      - in: query
        name: qa-status
        schema:
          type: string
          default: complete
          enum:
          - incomplete
          - complete
          - all
        description: 'See [QA Status](#tag/QAStatus) for a more in-depth discussion of the

          meaning of this parameter.

          '
      - in: header
        name: Accept
        schema:
          type: string
          enum:
          - application/json
          - application/edn
      - in: header
        name: Authorization
        schema:
          type: string
          example: apikey $YOUR_API_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UpcomingElectionsResponse'
      tags:
      - Elections
      operationId: getElectionsUpcoming
      x-operation-id-source: derived
    servers:
    - description: Democracy Works API
      url: https://api.democracy.works
  /elections:
    get:
      operationId: getElections
      summary: Elections
      description: 'This endpoint has election-specific dates and deadlines, URLs for voters to get more information and take action, and detailed guidance in both English and Spanish. The information included reflects the voter registration and voting methods available in the state for that election, such as online, in-person, and by-mail registration as well as by-mail, in-person, and early voting. The election also contains some information from the related state authority. The default is to return all elections, though you can limit the response to upcoming elections through the use of the start date parameter. Elections are returned sorted chronologically by election date.


        After an election is confirmed to be occurring, Democracy Works surfaces information about an election as details become available. An election’s guidance phase describes the state of the currently available guidance.


        A `past` election is an election whose election date is in the past. An `expected` election is an upcoming election that is expected to occur but for which Democracy Works has not yet published specific guidance for. A `not currently expected` election is an election that Democracy Works expect to happen but will not publish guidance for. An `active` election is an upcoming election for which Democracy Works has published specific guidance.


        Elections are returned sorted chronologically by election date.


        Supports the following standard parameters: see __Pagination__, __Localization__, __Content Formatting__, and __Fields__.


        ### Ballot Measure Information


        Information about measures on the ballot will include:

        - All federal ballot measures

        - All statewide ballot measures

        - Local ballot measures in the top 100 cities by population


        Ballot measure information is not included in the default response for an election. For ballot measure information to be included with the response, include the `includeBallotData` parameter with a value of `true`.


        Ballot data is sourced from Ballotpedia.


        ### Candidate and Contest Information


        Information about contests and candidates on the ballot will include:

        - All federal contests and candidates, including senate and house of representatives

        - All state contests and candidates, including governor, treasurer, secretary of state, state legislative seats, state supreme court, district court, and court of appeals

        - Local contests and candidates including mayor, county judge, county clerk, commissioners, and city councils in the top 100 cities by population, plus school board elections in 475 districts

        - Note that local coverage may be limited by mapping constraints.


        Ballot data is sourced from Ballotpedia.'
      security:
      - ApiKeyAuth: []
      parameters:
      - name: address
        in: query
        schema:
          type: string
          description: The full street address as a single string. Required unless all of `addressStreet`, `addressCity`, `addressStateCode`, and `addressZip` are provided.
          example: 813%20Howard%20Street%20Oswego%20NY%2013126
        required: false
      - name: addressStreet
        in: query
        schema:
          type: string
          description: The street portion of the address. Must be provided together with `addressCity`, `addressStateCode`, and `addressZip`.
          example: 813%20Howard%20Street
        required: false
      - name: addressCity
        in: query
        schema:
          type: string
          description: The city portion of the address. Must be provided together with `addressStreet`, `addressStateCode`, and `addressZip`.
          example: Oswego
        required: false
      - name: addressStateCode
        in: query
        schema:
          type: string
          description: The 2-letter postal abbreviation for the state. DC is also accepted. Must be provided together with `addressStreet`, `addressCity`, and `addressZip`.
          example: NY
        required: false
      - name: addressZip
        in: query
        schema:
          type: string
          description: The 5-digit ZIP code. Must be provided together with `addressStreet`, `addressCity`, and `addressStateCode`.
          example: '13126'
        required: false
      - name: addressZip4
        in: query
        schema:
          type: string
          description: The optional 4-digit ZIP+4 extension. May be added alongside `addressStreet`, `addressCity`, `addressStateCode`, and `addressZip`.
          example: '9029'
        required: false
      - name: stateCode
        in: query
        schema:
          type: string
          description: The 2-letter postal code to get elections within a respective state. DC is accepted as well.
          example: CA
        required: false
      - name: ocdId
        in: query
        schema:
          type: string
          description: The OCD-ID(s) of a political division; elections that apply to a voter in this political division will be returned.  This parameter may be provided multiple times to return all elections with any of the OCD IDs provided.
          example: ocd-division%2Fcountry%3Aus%2Fstate%3Any%2Fcounty%3Akings
        required: false
      - name: startDate
        in: query
        schema:
          type: date
          description: The earliest date to get elections for, inclusive, in UTC ISO 8601 format.
          example: '2023-01-01'
        required: false
      - name: endDate
        in: query
        schema:
          type: date
          description: The latest date to get elections for, inclusive, in UTC ISO 8601 format.
          example: '2023-01-02'
        required: false
      - name: electionTypes
        in: query
        schema:
          type: string
          description: The election types (options are presidentialPrimary, state, stateSenate, stateHouse, congressional, senate, county, subCounty, municipal, subMunicipal, school, and special). Comma-separated list.
        required: false
      - name: includeQuestionAndAnswer
        in: query
        schema:
          type: boolean
          description: Whether Question and Answer content should be included for each returned election. Defaults to false if not specified. Response fields are formattable with the __[content formatting](#section/Standard-Parameters/Content-Formatting)__ standard parameter.
          example: true
        required: false
      - name: includeBallotData
        in: query
        schema:
          type: boolean
          description: Whether ballot data (ballot measures, candidates, and contests) should be included for each returned election. Defaults to false if not specified.
          example: true
        required: false
      responses:
        '200':
          description: Elections fetched by query.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      elections:
                        type: array
                        items:
                          $ref: '#/components/schemas/election'
                      statewideOnly:
                        type: boolean
                        description: Unable to determine elections more granular than the state level.  Only state level elections returned.
                  pagination:
                    $ref: '#/components/schemas/pagination'
              examples:
                sampleElectionsResponse:
                  $ref: '#/components/examples/elections'
        '400':
          $ref: '#/components/responses/badRequestError'
        '413':
          $ref: '#/components/responses/contentTooLargeError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        '500':
          $ref: '#/components/responses/internalServerError'
      tags:
      - Elections
    servers:
    - url: https://api.democracy.works/v2
components:
  schemas:
    OnlineRegistrationMethod:
      type: object
      properties:
        type:
          type: string
          enum:
          - online
          description: 'Indicates that online voter registration is an option in the state. The sections following provide the state-specific requirements. This field and fields associated with online voter registration are only populated in states where it is available.

            '
        instructions:
          type: object
          description: 'Lists the state-specific requirements for registering to vote online.

            '
          properties:
            registration:
              description: 'Provides the identification requirements and other instructions for registering to vote online.

                '
              $ref: '#/components/schemas/LocalizedField'
        supports-iframe:
          type: boolean
          description: 'Indicates whether the state online voter registration site can be iframed. `true`: can be iframed, `false`: cannot be iframed.

            '
        deadline-online:
          type: string
          format: date-time
          description: 'Provides the deadline date for registering online to vote for the particular election. This [timestamp should be interpreted as a date](#tag/DateAsTimestamp).

            '
        url:
          type: string
          format: uri
          description: 'Provides the link to the state online voter registration system.

            '
    DistrictDivision:
      type: object
      properties:
        ocd-id:
          type: string
          example: ocd-division/country:us/state:nc/sldl:1
          description: 'The political division of the election. Represented as an Open Civic Data Identifier. Voters within these political jurisdictions are covered by this election.

            '
        voter-registration-authority-level:
          type: string
        election-authority-level:
          type: string
        voting-methods:
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/ByMailVotingMethod'
            - $ref: '#/components/schemas/EarlyVotingVotingMethod'
            - $ref: '#/components/schemas/InPersonVotingMethod'
        voter-registration-methods:
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/ByMailRegistrationMethod'
            - $ref: '#/components/schemas/ElectionDayRegistrationMethod'
            - $ref: '#/components/schemas/InPersonRegistrationMethod'
            - $ref: '#/components/schemas/OnlineRegistrationMethod'
        primary-voting-method-source:
          type: string
    LocalizedField:
      oneOf:
      - type: object
        properties:
          en:
            type: string
            description: English text
          es:
            type: string
            description: Spanish text
      - type: string
        description: Localized text dependent on the `language` parameter
    EarlyVotingVotingMethod:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - early-voting
          description: 'Indicates that early voting is an option for the particular election. The sections following provide the state-specific requirements. This field and fields associated with early voting are only populated in states where it is available.

            '
        primary:
          type: boolean
          description: 'Indicates whether voting early is the primary voting method for the particular election or not. `true`: primary voting method; `false`: not primary voting method.

            '
        excuse-required:
          type: boolean
          description: 'Indicates whether you need an excuse to vote early. `true`: excuse required; `false`: excuse not required.

            '
        start:
          type: string
          format: date-time
          description: 'Indicates the start date for early voting for the particular election. Early voting dates often vary within a state. This date can either be the earliest date or the latest date any jurisdiction is required to begin. This [timestamp should be interpreted as a date](#tag/DateAsTimestamp).

            '
        end:
          type: string
          format: date-time
          description: 'Indicates the end date for early voting for the particular election. Early voting dates often vary within a state. This date can either be the earliest day or the latest date any jurisdiction is required to end. This [timestamp should be interpreted as a date](#tag/DateAsTimestamp).

            '
        alias:
          type: string
          enum:
          - early-voting
          - absentee-in-person
          description: 'Default is empty, meaning election officials in the state use the term "early voting" or the value can explicitly list `early-voting`. If the value is `absentee-in-person` that means election officials in the state use the term "absentee in person". We don''t distinguish these two in the data because they are functionally equivalent.

            '
        exact-dates:
          type: boolean
          deprecated: true
          description: Deprecated field as we reconsider date display.
        url:
          type: string
          format: uri
          description: 'If there is a website that provides information about the election or how to participate, we will provide it here. This field is often an election-specific URL, though we may include voter information portals.

            '
    UpcomingElectionsResponse:
      type: object
      required:
      - date
      - description
      - type
      - id
      - qa-status
      properties:
        description:
          type: string
          description: 'Displayable name for the election. Includes the political division affected by the election and the election type. Descriptions can also provide information on whether the election will be conducted via mail ballot if elections are not typically conducted that way in the state.

            '
        date:
          type: string
          format: date-time
          description: 'Day of the election. This [timestamp should be interpreted as a date](#tag/DateAsTimestamp).

            '
          example: '2022-11-08T00:00:00Z'
        district-divisions:
          type: array
          items:
            $ref: '#/components/schemas/DistrictDivision'
        type:
          type: string
          enum:
          - congressional
          - county
          - municipal
          - presidential-primary
          - school
          - state
          - state-house
          - state-senate
          - sub-municipal
          description: The election type
        source:
          type: object
          description: 'Information about how the Election was researched. For internal use only.

            '
          properties:
            type:
              type: string
            notes:
              type: string
            date:
              type: string
              format: date-time
        polling-place-url:
          type: string
          format: uri
          description: Provides a link to the state's polling place lookup page.
        polling-place-url-shortened:
          type: string
          format: uri
          example: https://tvote.org/abcd123
          description: Shortened link for the state's polling place lookup page.
        qa-status:
          type: string
          enum:
          - complete
          - incomplete
          - none
          description: 'Only `complete` elections are shown in the API by default, but early access to `incomplete` data is available. See [QA Status](#tag/QAStatus) for more discussion.

            '
        id:
          type: string
          description: 'Unique election ID for internal use only. This value may change.

            '
        population:
          type: integer
          description: 'Provides the affected population number for the given election using Census data, when available.

            '
        website:
          type: string
          format: uri
          description: 'Provides a link to additional information on the upcoming election, when available.

            '
    InPersonVotingMethod:
      type: object
      required:
      - type
      - primary
      properties:
        type:
          type: string
          enum:
          - in-person
          description: 'Indicates that voting in-person is an option for the particular election. The sections following provide the state-specific requirements. This field, and fields associated with voting in-person, are not available in Oregon.

            '
        primary:
          type: boolean
          description: 'Indicates whether voting in person is the primary voting method for the particular election or not. `true`: primary voting method; `false`: not primary voting method.

            '
        excuse-required:
          type: boolean
          description: "Indicates whether you need an excuse to vote in-person. `true`:\n  excuse required; `false`: excuse not required.\n"
        instructions:
          type: object
          description: 'Lists the state-specific requirements for voting in-person. See [our notes on instruction fields](#tag/Instructions) for more information on interpreting these fields.

            '
          properties:
            voting-id:
              description: 'Provides the identification requirements and other instructions for voting in-person.

                '
              $ref: '#/components/schemas/LocalizedField'
    ElectionDayRegistrationMethod:
      type: object
      properties:
        type:
          type: string
          enum:
          - election-day
          description: 'Indicates whether voter registration is available for the particular election at voting locations.

            '
    InPersonRegistrationMethod:
      type: object
      properties:
        type:
          type: string
          enum:
          - in-person
          description: 'Indicates that in-person voter registration is an option in the state. This field and fields associated with in-person voter registration are only populated in states where it is available.

            '
        start:
          type: string
          format: date-time
          description: 'This [timestamp should be interpreted as a date](#tag/DateAsTimestamp).

            '
        end:
          type: string
          format: date-time
          description: 'This [timestamp should be interpreted as a date](#tag/DateAsTimestamp).

            '
    ByMailRegistrationMethod:
      type: object
      properties:
        type:
          type: string
          enum:
          - by-mail
          description: 'Indicates that registering to vote by mail is an option for the particular election. The sections following provide the state-specific requirements. This field, and fields associated with registering to vote by mail are not available for elections in New Hampshire or North Dakota.

            '
        instructions:
          type: object
          description: 'Lists the state-specific signature block language and ID requirements for registering to vote by mail.

            '
          properties:
            signature:
              description: 'Provides the state-specific language for voters to affirm when they complete and sign their paper registration form. This language varies from state to state.

                '
              $ref: '#/components/schemas/LocalizedField'
            idnumber:
              description: 'Provides the state-specific identification requirements for registering to vote by mail.

                '
              $ref: '#/components/schemas/LocalizedField'
        acceptable-forms:
          type: array
          description: 'Lists the paper registration form accepted by the state.

            '
          items:
            type: object
            properties:
              name:
                type: string
                description: 'Display name for the state-accepted registration form. Most states accept the National Voter Registration Form (`nvrf`). Voters in Wyoming must use the state-specific registration form (`wy_reg`). This field is left blank in New Hampshire and North Dakota.

                  '
        deadline-received:
          type: string
          format: date-time
          description: 'Indicates that a by mail voter registration application must be received by the designated election office by the deadline date for the particular election. This [timestamp should be interpreted as a date](#tag/DateAsTimestamp).

            '
        deadline-postmarked:
          type: string
          format: date-time
          description: 'Indicates that a by mail voter registration applications must be postmarked by the deadline date for the particular election. This [timestamp should be interpreted as a date](#tag/DateAsTimestamp).

            '
        deadline-in-person:
          type: string
          format: date-time
          description: 'Indicates that a by mail voter registration must be delivered/completed in person (by the voter) by the deadline date for the particular election. This [timestamp should be interpreted as a date](#tag/DateAsTimestamp).

            '
        new-voter:
          type: string
    ByMailVotingMethod:
      type: object
      required:
      - type
      - primary
      properties:
        type:
          type: string
          enum:
          - by-mail
        primary:
          type: boolean
          description: 'Indicates whether voting by mail is the primary voting method for the particular election or not. `true`: primary voting method; `false`: not primary voting method.

            '
        ballot-request-form-url:
          $ref: '#/components/schemas/LocalizedField'
          description: 'URL for a form that a voter can use to request an absentee/by-mail ballot.

            '
        ballot-request-deadline-received:
          type: string
          format: date-time
          description: 'Indicates the date that a ballot request application must be received by the designated election official for the particular election. This [timestamp should be interpreted as a date](#tag/DateAsTimestamp).

            '
        ballot-return-deadline-postmarked:
          type: string
          format: date-time
          description: 'Indicates the date that a completed ballot must be postmarked by the voter for the particular election. This [timestamp should be interpreted as a date](#tag/DateAsTimestamp).

            '
        ballot-return-deadline-received:
          type: string
          format: date-time
          description: 'Indicates the date that a completed ballot must be received by the designated election official for the particular election. This [timestamp should be interpreted as a date](#tag/DateAsTimestamp).

            '
        ballot-return-deadline-in-person:
          type: string
          format: date-time
          description: 'Indicates the date that a completed ballot must be returned in-person by the voter at a designated election office/dropbox for the particular election. This [timestamp should be interpreted as a date](#tag/DateAsTimestamp).

            '
        vbm-alias:
          $ref: '#/components/schemas/LocalizedField'
          description: 'The name used by the jurisdiction to refer to voting by mail.

            '
        excuse-required:
          type: boolean
          description: 'Indicates whether you need an excuse to vote by-mail. `true`: excuse required; `false`: excuse not required.

            '
        acceptable-forms:
          type: array
          description: 'Lists the acceptable ballot request application form.

            '
          items:
            type: object
            properties:
              name:
                type: string
                description: 'For internal use only. Name for the ballot request application.

                  '
    pagination:
      type: object
      properties:
        totalRecordCount:
          type: number
          description: Total records found for the given query.
        currentPage:
          type: number
          description: The page of records returned.
        pageSize:
          type: number
          description: The number of records returned.
    election:
      description: A representation of an election.
      type: object
      required:
      - description
      - date
      - ocdId
      properties:
        ocdId:
          type: string
          description: Provides the [OCD-ID](https://opencivicdata.info/en/latest/ocdids.html) associated with the office.
        createdAt:
          type: string
          description: ISO 8601 timestamp of when the election was first created in Democracy Works' internal database.
        updatedAt:
          type: string
          description: ISO 8601 timestamp of when the election was last updated in Democracy Works' internal database.
        date:
          type: string
          description: Date of the election in YYYY-MM-DD format.
        description:
          type: string
          description: 'The election name which includes the jurisdiction affected by the election and a descriptor of the election type.


            `Localized`

            '
        type:
          type: string
          description: Provides the election type.
          enum:
          - congressional
          - county
          - municipal
          - presidentialPrimary
          - school
          - state
          - stateHouse
          - stateSenate
          - subMunicipal
          - subCounty
        pollingLocationUrl:
          type: string
          description: Lookup URL for voting location information. If an election is all-mail, this URL will link to information for election-specific dropbox locations.
        canonicalUrl:
          type: string
          description: 'Provides a URL to the Democracy Works data source for attribution purposes. Attribution allows voters to assess the reliability and provenance of election data and guidance.


            `Localized`

            '
        website:
          type: string
          description: 'Provides a URL for voters to access additional information on the upcoming election, when available.


            `Localized`

            '
        guidancePhase:
          type: string
          description: 'After an election is confirmed to be occurring, Democracy Works surfaces information about an election as details become available. An election’s guidance phase describes the state of the currently available guidance.

            '
          enum:
          - past
          - active
          - expected
          - not currently expected
        population:
          type: string
          description: Provides the affected population number for the given election using Census data or government data. This field will be null if the population is less than 5,000.
        voting:
          type: object
          properties:
            inPersonVotingAvailable:
              type: boolean
              description: Indicates whether an election has options to vote in person.
            mailBallotsSentAutomatically:
              type: boolean
              description: Indicates whether ballots are sent to eligible registered voters automatically in an election without voters having to request ballots themselves.
            early:
              type: object
              properties:
                url:
                  type: string
                  description: Provides website for voters to find out more about when and where to vote early in a specific election or provides general information about the early voting process if available.
                startDate:
                  type: string
                  description: Provides the date when early voting or absentee in person voting begins for the election in YYYY-MM-DD format if early voting or absentee in person voting is available in the election. If in person absentee voting starts as ballots are available, as opposed to a specific start date, this field will be blank and only voting.early.endDate will be returned.
                endDate:
                  type: string
                  description: Provides the date when early voting or absentee in person voting ends for the election in YYYY-MM-DD format if early voting or absentee in person voting is available in the election.
                varies:
                  type: boolean
                  description: Indicates whether early voting dates are consistent across locations and whether early voting is available every day between when early voting starts and when early voting ends.
            byMail:
              type: object
              properties:
                idInstructions:
                  type: string
                  description: Provides election-specific instructions for voters who choose to vote by mail.
                explainerUrl:
                  type: string
                  description: 'Provides a URL where voters can learn more about voting by mail.


                    `Localized`

                    '
                allMail:
                  type: object
                  properties:
                    ballotInfoUrl:
                      type: string
                      description: Provides a URL where voters can learn more about their ballot in an all mail election.
                    ballotSendStartDate:
                      type: string
                      description: Provides the date in which a state will start to send mail ballots to all registered voters in an all mail election. Not collected for most all mail elections.
                    ballotSendEndDate:
                      type: string
                      description: Provides the date in which a state will finish sending mail ballots to all registered voters in an all mail election. Not collected for most all mail elections.
                    ballotReceiveExpectedStartDate:
                      type: string
                      description: Provides the date in which states expect voters to start receiving their mail ballots in an all mail election. Not collected for most all mail elections.
                    ballotReceiveExpectedEndDate:
                      type: string
                      description: Provides the date in which states expect voters to have received their mail ballots in an all mail election. Not collected for most all mail elections.
                deadline:
                  type: object
                  properties:
                    postmarkedOrReceived:
                      type: string
                      description: Provides the deadline type for whether the the voted ballot needs to be postmarked by or received by the ballot return deadline. Only collected for specific elections.
                    receivedNoLaterThan:
                      type: object
                      properties:
                        date:
                          type: string
                          description: Provides the last date that the election office can receive a voted ballot in the mail if the return deadline has a "must be postmarked by YYYY-MM-DD if received by YYYY-MM-DD" deadline. Only collected for specific elections.
                        timestamp:
                          type: string
                          description: Provides the ISO timestamp deadline for the last day for the election office to receive a voted ballot in the mail if the return deadline has a "must be postmarked by YYYY-MM-DD if received by YYYY-MM-DD" deadline. Only collected for specific elections.
                        description:
                          type: string
                          description: Provides the time deadline on the last day the election office can receive a voted ballot in the mail if the return deadline is expressed in a "must be postmarked by YYYY-MM-DD if received by YYYY-MM-DD" format if the time deadline is expressed in a phrase instead of an ISO timestamp. Examples could include "close of business" or "close of polls". Only collected for specific elections.
                    returnInPerson:
                      type: object
                      properties:
                        date:
                          type: string
                          description: Provides the date deadline to return a voted ballot in person. Only collected for specific elections.
                        timestamp:
                          type: string
                          description: Provides the ISO timestamp deadline to return a voted ballot in person. Not collected for most elections.
                        description:
                          type: string
                          description: 'Provides the time deadline to return a voted ballot in person if the deadline is expressed in a phrase instead of an ISO timestamp. Examples include "close of business" or "close of polls". Not collected for most elections.


                            `Localized`

                            '
                    returnByMail:
                      type: object
                      properties:
                        date:
                          type: string
                          description: Provides the deadline date to return a voted ballot in the mail. Only collected for specific elections.
                        timestamp:
                          type: string
                          description: Provides the ISO timestamp deadline to return a voted ballot in the mail on the last day to return a voted ballot. Not collected for most elections.
                        description:
                          type: string
                          description: 'Provides the time deadline to return a voted ballot in the mail on the last day to return a voted ballot if the deadline is expressed in a phrase and not in an ISO timestamp. Examples include "close of business" or "close of polls". Only collected for specific elections.


                            `Localized`

                            '
                    ballotRequest:
                      type: object
                      properties:
                        postmarkedOrReceived:
                          type: string
                          description: Provides the deadline type for the deadline to request a ballot by mail. Types include postmarked or received. Only collected for specific elections.
                        date:
                          type: string
                          description: Provides the last date to request a ballot by mail for the election. If there are different deadlines for submitting an application in-person and by-mail, this is the by-mail application request deadline. All mail elections in which all voters receive a ballot in the mail will not have a ballot request deadline.
                        timestamp:
                          type: string
                          description: Provides the ISO timestamp deadline date to request a ballot by mail for the election on the last day voters are able to do so. This time deadline is not collected for most elections.
                        description:
                          type: string
                          description: 'Provides the time deadline to request a ballot by mail if the deadline is described by a phrase and not by an ISO timestamp. Examples include "close of business" or "close of polls". Only collected for specific elections.


                            `Localized`

                            '
            inPerson:
              type: object
              properties:
                idRequiredAllVoters:
                  type: boolean
                  description: Indicates whether an ID is required for all voters.
                idInstructions:
                  type: string
                  description: Provides the election-specific instructions to vote in person including what identification voters may need to show at the voting location for states that have a voting.predominantMethod of byMail.
                electionDay:
                  type: object
                  properties:
                    closing:
                      type: object
                      properties:
                        timestamp:
                          type: string
                          description: Provides the ISO timestamp that in person voting closes on Election Day. Only collected for specific elections.
                        description:
                          type: string
                          description: 'Provides time of day deadline that indicates when in person voting closes on Election Day when the deadline is expressed in a phrase as opposed to an ISO timestamp. Examples include "close of business" or "close of polls". Only collected for specific elections.


                            `Localized`

                            '
        registration:
          type: object
          properties:
            explainerUrl:
              type: string
              description: 'Provides a URL where voters can learn more about registering to vote.


                `Localized`

                '
            inPerson:
              type: object
              properties:
                atPollingPlaceOnElectionDay:
                  type: boolean
                  description: Defines whether election day registration is available for the election at all voting locations. If election day registration takes place at a location other than the voting location, this field will be "false".
                localSamedayRegistrationAuthorityLookupUrl:
                  type: string
                  description: Provides a URL where voters can look up the authority with which they can register to vote on election day.
                deadline:
                  type: object
                  properties:
                    date:
                      type: string
                      description: Provides the deadline date to register in-person at the local election office for the election.
                    timestamp:
                      type: string
                      description: Provides the ISO timestamp to register in-person at their local election office for the election on the last day that voters can register to vote in person at their local election office. Only collected for specific elections.
                    description:
                      type: string
                      description: 'Provides the time deadline to register in-person at the local election office for the election on the last day that voters can register to vote in person at their local election office if the time deadline is a phrase as opposed to an ISO timestamp. Examples include "close of business" or "close of polls". Only collected for specific elections.


                        `Localized`

                        '
            online:
              type: object
              properties:
                url:
                  type: string
                  description: Provides a URL with information regarding the online registration process.
                instructions:
                  type: string
                  description: 'Provides instructions for online registration.


                    `Localized` `Formatted`

                    '
                deadline:
                  type: object
                  properties:
                    date:
                      type: string
                      description: Provides the deadline date to register online for the election. Only applicable to elections in states that allow online voter registration.
                    timestamp:
                      type: string
                      description: Provides ISO timestamp in which online voter registration closes on the online voter registration deadline. Only collected for specific elections.
                    description:
                      type: string
                      description: 'Provides phrase time of day deadline that indicates when online voter registration closes on the online voter registration deadline. Example would be "close of business". Not collected for most elections.


                        `Localized`

                        '
            byMail:
              type: object
              properties:
                idInstructions:
                  type: string
                  description: 'Provides instructions regarding ID requirements for registering to vote by mail.


                    `Localized` `Formatted`

                    '
                signatureInstructions:
                  type: string
                  description: 'Provides instructions regarding signature requirements for submitting a voter registration application by mail.


                    `Localized` `Formatted`

                    '
                newVoterInstructions:
                  type: string
                  description: 'Provides instructions for new voters who are submitting a voter registration application by mail.


                    `Localized` `Formatted`

                    '
                deadline:
                  type: object
                  properties:
                    date:
                      type: string
                      description: Provides the last date to register by mail for the election.
                    timestamp:
                      type: string
                      description: Provides the ISO timestamp deadline to register by mail for the election on the last day to register to vote. Only collected for specific elections.
                    description:
                      type: string
                      description: 'Provides the time deadline to register by mail for the election on the last day to register to vote if the deadline is expressed in a phrase as opposed to an ISO timestamp. Examples include "close of business" or "close of polls". Only collected for specific elections.


                        `Localized`

                        '
                    postmarkedOrReceived:
                      type: string
                      description: Defines whether a paper registration form needs to be received by or postmarked by the reg-by-mail deadline date for the election.
        questionAndAnswer:
          type: object
          properties:
            keyChanges:
              type: object
              description: 'Provides updates on key voting or registration process changes within a state.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            keyChangesElection:
              type: object
              description: 'Provides updates on key voting or registration process changes that may be relevant to an election.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            whoCanVote:
              type: object
              description: 'Provides the eligibility criteria for a voter to register to vote in a state.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            voteInPerson:
              type: object
              description: 'Provides information on where to vote on Election Day, early voting, voter identification requirements, and how to check the status of your ballot if available.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            voteByMail:
              type: object
              description: 'Provides information on whether or not an excuse is required to vote by mail, instructions on requesting and returning a ballot, instructions on how to check the status of your ballot if available, and information on what to do if you have recently moved and would like to request a ballot.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            onlineVoterRegistration:
              type: object
              description: 'Indicates whether or not online voter registration is available. If available, provides a URL and instructions on how to register to vote online.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            byMailRegistration:
              type: object
              description: 'Provides instructions for a voter to register to vote by mail using the National Voter Registration Form. If the National Voter Registration Form is not accepted within a state, provides instructions to register to vote by mail using the state voter registration form.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            electionDayRegistration:
              type: object
              description: 'Indicates whether or not same day registration on Election Day is available.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            inPersonRegistration:
              type: object
              description: 'Provides instructions on how to register to vote in person.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            primaryRegistration:
              type: object
              description: "Provides instructions for voter registration and party affiliation requirements in partisan primary elections. \n\n`Localized` `Formatted`\n"
              properties:
                question:
                  type: string
                answer:
                  type: string
            primaryVote:
              type: object
              description: 'Provides instructions for voting in a primary election.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            datesAndDeadlines:
              type: object
              description: 'Provides a summary of all voting and registration deadlines associated with an election.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            voterId:
              type: object
              description: 'Indicates whether or not voter identification will be necessary to vote in person for all voters and provides a list of accepted voter identification.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            whatsOnTheBallot:
              type: object
              description: 'Provides a URL to the state''s sample ballot lookup tool for statewide elections if available. If a URL isn''t available, provides a link to Ballotpedia. This will be null for local elections.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            militaryAndOverseas:
              type: object
              description: 'Provides instructions for military and overseas voters on how to vote in an election.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            checkRegistration:
              type: object
              description: 'Provides instructions on how to check your registration status. If available, provides a URL to check your registration status.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            stateContactInfo:
              type: object
              description: 'Provides contact information for the office of the State Election Authority. This will be null for local elections.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            localContactInfo:
              type: object
              description: 'Provides URL to find contact information for the office of the Local Election Authority.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            aboutInfo:
              type: object
              description: 'Provides information about how Democracy Works election guidance is sourced and updated.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            voteEarly:
              type: object
              description: 'Provides information on voting in person without an excuse before Election Day, if available. Only provided for specific elections.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            urgentNotices:
              type: object
              description: 'Provides information on key voting or registration process changes for an election, if available.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            aboutThisElection:
              type: object
              description: 'Provides information that affects voter participation in an election and resources or options to learn more, if available.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            youShouldKnow:
              type: object
              description: '

                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            actNow:
              type: object
              description: '

                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            actNowRegistration:
              type: object
              description: '

                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
        ballotMeasures:
          $ref: '#/components/schemas/ballotMeasure'
        contests:
          $ref: '#/components/schemas/contest'
    gatewayErrors:
      type: object
      properties:
        message:
          type: string
      required:
      - message
    errors:
      type: object
      properties:
        status:
          type: integer
        message:
          type: array
      required:
      - status
      - message
    ballotMeasure:
      description: Information on the ballot measures on the ballot, including a summary and the full text of the ballot measure.
      type: object
      required:
      - id
      - name
      - shortName
      - districtName
      - districtType
      - type
      - topics
      - summary
      - yesVote
      - noVote
      - ocdId
      properties:
        id:
          type: string
          description: The ID of the ballot measure.
        name:
          type: string
          description: The name of the ballot measure.
        shortName:
          type: string
          description: The concise name of the ballot measure.
        streamlinedName:
          type: string
          description: The ballot measure name without reference to the state name or year.
        districtName:
          type: string
          description: The name of the district covered by the ballot measure.
        districtType:
          type: string
          description: The type of district relevant to the ballot measure.
          enum:
          - cityTown
          - cityTownSubdivision
          - congress
          - county
          - countySubdivision
          - judicialDistrict
          - judicialDistrictSubdivision
          - schoolDistrict
          - schoolDistrictSubdivision
          - specialDistrict
          - specialDistrictSubdivision
          - state
          - stateLegislativeLower
          - stateLegislativeUpper
          - stateSubdivision
          - township
        type:
          type: string
          description: The type of ballot measure.
        topics:
          type: array
          items:
            type: string
          description: An array of topics covered by a ballot measure.
        topicAreas:
          type: array
          items:
            type: string
          description: 'An array of topic areas covered by a ballot measure.


            `Localized`

            '
        summary:
          type: string
          description: Describes a summary of the ballot measure.
        yesVote:
          type: string
          description: Describes what a vote supporting the ballot measure means.
        noVote:
          type: string
          description: Describes what a vote opposed to the ballot measure means.
        yesVotesTotal:
          type: number
          description: The number of YES votes this ballot measure received.
        noVotesTotal:
          type: number
          description: The number of NO votes this ballot measure received.
        ballotQuestion:
          type: string
          description: The full text of the ballot measure.
        ocdId:
          type: string
          description: The OCD-ID associated with the jurisidiction covered by the ballot measure.
        status:
          type: string
        endorsementYesCount:
          type: number
          description: The number of "support" endorsements for this ballot measure.
        endorsementNoCount:
          type: number
          description: The number of "oppose" endorsements for this ballot measure
    candidate:
      description: A representation of a candidate.
      type: object
      required:
      - id
      - fullName
      - firstName
      - lastName
      - partyAffiliation
      - isWriteIn
      properties:
        id:
          type: string
          description: The ID of the candidate.
        fullName:
          type: string
          description: The full name of the candidate.
        firstName:
          type: string
          description: The first name of the candidate.
        lastName:
          type: string
          description: The last name of the candidate.
        partyAffiliation:
          type: array
          description: Describes the party affiliation of the candidate.
          items:
            type: string
        isIncumbent:
          type: boolean
          description: Indicates whether a candidate is an incumbent.
        isWriteIn:
          type: boolean
          description: Indicates whether a candidate is a write-in candidate.
        ballotpediaUrl:
          type: string
          description: The URL of the candidate's Ballotpedia page.
        status:
          type: string
          description: The status of the candidate in that contest.
          enum:
          - won
          - lost
          - advanced
          - declared
          - disqualified
          - onBallot
          - withdrew
          - notable
          - acclaimed
          - withdrewStillOnBallot
        runningMateFullName:
          type: string
          description: The full name of the candidate's running mate.
        runningMateTitle:
          type: string
          description: The title of the candidate's running mate.
        rankedChoiceVotingRound:
          type: number
          description: RCV results are reported in “rounds” of calculations. Ballotpedia reports each round of these results, so a candidate in an RCV will have a row for each round of calculation in that stage. The first round of results reported will have this attribute = 1. Rounds will count up until the final round.
        endorsementCount:
          type: number
          description: The number of endorsements available for this candidate.
        contact:
          type: object
          properties:
            campaign:
              type: object
              properties:
                email:
                  type: string
                  description: The candidate’s campaign email address.
                website:
                  type: string
                  description: The candidate’s campaign website.
                facebook:
                  type: string
                  description: The candidate’s campaign Facebook.
                twitter:
                  type: string
                  description: The candidate’s campaign Twitter.
                instagram:
                  type: string
                  description: The candidate’s campaign Instagram.
                youtube:
                  type: string
                  description: The candidate’s campaign YouTube.
                mailingAddress:
                  type: string
                  description: The candidate’s campaign mailing address.
                phone:
                  type: string
                  description: The candidate’s campaign phone number.
            personal:
              type: object
              properties:
                website:
                  type: string
                  description: The candidate’s personal website.
                facebook:
                  type: string
                  description: The candidate’s personal Facebook.
                twitter:
                  type: string
                  description: The candidate’s personal Twitter.
                instagram:
                  type: string
                  description: The candidate’s personal Instagram.
                youtube:
                  type: string
                  description: The candidate’s personal YouTube.
                linkedIn:
                  type: string
                  description: The candidate’s personal LinkedIn.
    contest:
      description: Information on the race for the specific office up for election, including the list of candidates and candidate information.
      type: object
      required:
      - id
      - name
      - level
      - districtName
      - ocdId
      - seatsUpForElection
      - candidates
      properties:
        id:
          type: string
          description: The ID of the contest.
        name:
          type: string
          description: 'The name of the office  (ex: “President”).'
        title:
          type: string
          description: Human readable title of the office (e.g. Senator)
        body:
          type: string
          description: Label of legislative or judicial body to which the contest belongs
        level:
          type: string
          description: The level of the contest.
          enum:
          - federal
          - state
          - local
        branch:
          type: string
          description: The branch of government of the office.
          enum:
          - executive
          - judicial
          - legislative
        districtName:
          type: string
          description: The name of the district that elects the office.
        districtType:
          type: string
          description: The type of district that elects the office.
          enum:
          - cityTown
          - cityTownSubdivision
          - congress
          - county
          - countySubdivision
          - judicialDistrict
          - judicialDistrictSubdivision
          - schoolDistrict
          - schoolDistrictSubdivision
          - specialDistrict
          - specialDistrictSubdivision
          - state
          - stateLegislativeLower
          - stateLegislativeUpper
          - stateSubdivision
          - township
        contestType:
          type: string
          description: The type of contest.
          enum:
          - regular
          - special
          - recall
        ocdId:
          type: string
          description: The OCD-ID of the contest.
        seatsUpForElection:
          type: string
          description: The number of seats up for election.
        rankedChoice:
          type: boolean
          description: If the contest is conducted by ranked choice voting (RCV), then TRUE; else FALSE.
        rankedChoiceExplainerURL:
          type: string
          description: Link to state or local election administrator website explaining how ranked choice voting works.
        rankedChoiceRankNumber:
          type: number
          description: Number of candidates a voter can rank on a ballot in a Ranked Choice Election.
        hasPrimary:
          type: boolean
          description: For a general election, indicates if an associated primary election exists.
        primaryDate:
          type: string
          description: For a general election, provides the date of the associated primary election.
        generalDate:
          type: string
        partisanPrimary:
          type: string
        partisanPrimaryExplainerUrl:
          type: string
          description: URL where voter can learn more about how to vote in the party primary contest.
        partisanPrimaryExplainerEn:
          type: string
          description: English-language sentence explaining to voters how to vote in the party primary contest.
        partisanPrimaryExplainerEs:
          type: string
          description: Spanish-language sentence explaining to voters how to vote in the party primary contest.
        partisanPrimaryExplainerSharedId:
          type: string
          description: Hash for all contests (associated with the election) sharing the same guidance.
        cancelled:
          type: boolean
          description: TRUE if contest does not appear on ballot due to a cancellation. Contests may be cancelled if the number of candidates filed is less than or equal to the number of positions up for election. Not all jurisdictions cancel contests under these circumstances as write-in votes may be allowed in some case
        aboutOffice:
          type: string
          description: A brief summary of the role and responsibilities associated with an office.
        candidates:
          type: array
          items:
            $ref: '#/components/schemas/candidate'
          description: A list of candidates running for election for the contest.
  responses:
    contentTooLargeError:
      description: Content Too Large Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errors'
          example:
            status: 413
            message:
            - Response size too large. Try again with a smaller pageSize.
    internalServerError:
      description: InternalServerError
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errors'
          example:
            status: 500
            message:
            - Something went wrong.
    badRequestError:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errors'
          example:
            status: 400
            message:
            - Something has gone wrong parsing your request. Please refer to our documentation at https://developers.democracy.works/api/v2 to confirm all required fields are present and all fields are formatted correctly.
    tooManyRequestsError:
      description: TooManyRequestsError
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayErrors'
          example:
            message: Too Many Requests
  examples:
    elections:
      summary: Sample elections response
      description: 'This is **fictional** data to provide examples of fields values.


        The first election has all fields populated for demonstration purposes.


        The second election is a more realistic example which shows that not all fields are applicable to every election.

        '
      value:
        data:
          elections:
          - ocdId: ocd-division/country:us/state:wi
            createdAt: '2020-01-01T00:00:00.000-05:00'
            updatedAt: '2020-02-01T00:00:00.000-05:00'
            date: '2020-11-03'
            description: Wisconsin General Election
            type: state
            pollingLocationUrl: https://myvote.wi.gov/en-us/FindMyPollingPlace
            canonicalUrl: https://voting.democracy.works/en/elections/wi/2020-11-03.html
            website: https://myvote.wi.gov/en-us/
            guidancePhase: past
            population: 5,880,101
            voting:
              inPersonVotingAvailable: true
              mailBallotsSentAutomatically: false
              early:
                url: https://voting.democracy.works/en/elections/wi/2023-02-21.html
                startDate: '2023-02-07'
                endDate: '2023-02-19'
                varies: true
              byMail:
                idInstructions: 'Active military, permanent overseas voters, and confidential

                  electors are not required to provide a Photo ID when they vote by absentee ballot.

                  An indefinitely confined voter does not need to provide a copy of Photo ID.

                  Instead, the witness’ signature on the Absentee Ballot Certificate Envelope

                  satisfies the Photo ID requirement. For all other absentee voters, you will

                  need to provide a copy of your acceptable photo ID with your request. If you

                  have not previously provided a copy of photo ID, photo ID must accompany your

                  first application by mail. <br><br>These photo IDs are acceptable and can be

                  unexpired or expired after the date of the most recent general election: A Wisconsin

                  DOT-issued driver license, even if driving privileges are revoked or suspended;

                  A Wisconsin DOT-issued identification card; Military ID card issued by a U.S.

                  uniformed service; A U.S. passport. An identification card issued by a federally

                  recognized Indian tribe in Wisconsin; A photo identification card issued by

                  a Wisconsin accredited university or college that contains date of issuance,

                  expiration date no later than two years after issuance, and signature of student

                  (must be accompanied by a separate document that proves enrollment if the student

                  ID is expired).<br><br>These photo IDs are also acceptable for voting purposes,

                  but must be unexpired: A veteran''s photo identification card issued by the

                  Veterans Health Administration of the federal Department of Veterans Affairs;

                  A certificate of naturalization that was issued not earlier than two years before

                  the date of an election at which it is presented; A driving receipt issued by

                  Wisconsin DOT (valid for 45 days); An identification card receipt issued by

                  Wisconsin DOT (valid for 45 days);  a temporary identification card receipt

                  issued by Wisconsin DOT through the Identification Petition Process (IDPP) (valid

                  for 60 days).

                  '
                explainerUrl: https://myvote.wi.gov/en-us/vote-by-mail
                allMail:
                  ballotInfoUrl: https://myvote.wi.gov/en-us/ballot-info
                  ballotSendStartDate: '2020-10-10'
                  ballotSendEndDate: '2020-10-30'
                  ballotReceiveExpectedStartDate: '2020-10-25'
                  ballotReceiveExpectedEndDate: '2020-11-03'
                deadline:
                  postmarkedOrReceived: received
                  receivedNoLaterThan:
                    date: '2020-11-14'
                    timestamp: '17:00'
                    description: Close of business
                  returnInPerson:
                    date: '2020-11-03'
                    timestamp: '17:00'
                    description: Close of polls
                  returnByMail:
                    date: '2020-11-03'
                    timestamp: '17:00'
                    description: Close of business
                  ballotRequest:
                    postmarkedOrReceived: postmarked
                    date: '2023-02-16'
                    timestamp: '17:00'
                    description: Close of business
              inPerson:
                idRequiredAllVoters: true
                idInstructions: 'You will need to show a photo ID to vote in Wisconsin. <br>An

                  acceptable photo ID is not required to contain a current address. These photo

                  IDs are acceptable and can be unexpired or expired after the date of the most

                  recent general election: Wisconsin DOT-issued driver license, even if driving

                  privileges are revoked or suspended, with or without a star in the right-hand

                  corner; Wisconsin DOT-issued identification card, with or without a star in

                  the right-hand corner;  Wisconsin DOT-issued identification card or driver license

                  without a photo issued under the religious exemption; military ID card issued

                  by a U.S. uniformed service; U.S. passport<br><br>The following photo ID is

                  also acceptable for voting purposes, and can be expired before the date of the

                  most recent general election: identification card issued by a federally recognized

                  Indian tribe in Wisconsin; photo identification card issued by a Wisconsin accredited

                  university or college that contains date of issuance, expiration date no later

                  than two years after issuance, and signature of student (must be accompanied

                  by a separate document that proves enrollment if the student ID is expired)<br><br><br>The

                  following photo IDs are also acceptable for voting purposes, but must be unexpired:

                  veteran''s photo identification card issued by the Veterans Health Administration

                  of the federal Department of Veterans Affairs; certificate of naturalization

                  that was issued not earlier than two years before the date of an election at

                  which it is presented; driving receipt issued by Wisconsin DOT (valid for 45

                  days); identification card receipt issued by Wisconsin DOT (valid for 45 days);

                  temporary identification card receipt issued by Wisconsin DOT through the Identification

                  Petition Process (IDPP) (valid for 60 days)<br><br>Voters without ID: If you

                  are unable to provide photo ID, you will be able to vote a provisional ballot.

                  Your provisional ballot will not count unless you provide an acceptable photo

                  ID to the poll workers by 8:00 p.m. on Election Day or to your municipal clerk

                  in person by 4:00 p.m. the Friday after the election.

                  '
                electionDay:
                  closing:
                    timestamp: '17:00'
                    description: Close of polls
            registration:
              explainerUrl: https://myvote.wi.gov/en-us/register-by-mail
              inPerson:
                atPollingPlaceOnElectionDay: true
                localSamedayRegistrationAuthorityLookupUrl: https://myvote.wi.gov/en-us/register
                deadline:
                  date: '2023-02-17'
                  timestamp: '17:00'
                  description: Close of business
              online:
                url: https://myvote.wi.gov/en-us/RegisterToVote
                instructions: 'You should know: you need a Wisconsin driver''s license or state

                  ID card to use Wisconsin''s online voter registration system. The address where

                  you''re registering needs to match the address the DMV has on file for you.

                  If you don''t have a Wisconsin ID, you can still register by mail to vote.

                  '
                deadline:
                  date: '2023-02-01'
                  timestamp: '17:00'
                  description: Close of business
              byMail:
                idInstructions: 'When submitting your application by mail in Wisconsin, you are required to provide your valid and unexpired Wisconsin driver license or Wisconsin state ID number and the expiration date. If you have not been issued a Wisconsin ID, or if you have an expired, canceled, suspended, or revoked Wisconsin-issued ID, you must provide the last four digits of your Social Security number. If you have not been issued any of these numbers, check the box that indicates you do not have an ID number. You must also provide proof of residence when registering to vote. If you submit your application by mail, you must include a copy of proof of residence or submit proof of residence in an electronic format. Acceptable forms include but are not limited to: current and valid State of Wisconsin Driver License or State ID card or any official ID card or license issued by the Wisconsin government. When filling out a voter registration application, you must review the registration qualifications in Box 1. If you meet the requirements, check all of the boxes. If you do not meet all of the requirements, do not submit the form.'
                signatureInstructions: 'To register in Wisconsin you must: <br>be a citizen of the United States <br>be a resident of Wisconsin and have resided at the registration address for at least 28 days prior to the election<br>be 18 years old on or before Election Day<br>not have been convicted of treason, felony or bribery, or if you have, your civil rights have been restored after completion of your sentence or a pardon <br>not have been found by a court to be incapable of understanding the objective of the electoral process <br>not make or benefit from a bet or wage depending on the result of an election <br>not have voted at any other location, if registering on Election Day'
                newVoterInstructions: New voters should follow the instructions on the website to register.
                deadline:
                  date: '2023-02-01'
                  timestamp: '17:00'
                  description: Close of business
                  postmarkedOrReceived: postmarked
            questionAndAnswer:
              keyChanges:
                question: What key changes should voters know about?
                answer: '<div>Key changes to voting requirements in Wisconsin: </div><ul><li>Eligible voters in Wisconsin may now vote early in-person without an excuse for state and federal elections.'
              keyChangesElection:
                question: What key changes should voters know about?
                answer: Voters must show ID to vote in Wisconsin.
              voteInPerson:
                question: How do I vote in person?
                answer: <div>You can look up where to vote the state website.</div>
              voteByMail:
                question: How do I vote by mail?
                answer: '   <div>In Wisconsin, any registered voter can request to get a ballot by mail. Fill out the <a href="https://elections.wi.gov/wec-form/absentee-ballot-request-el-121-121h-121s">mail ballot application</a> and mail or return it in person to your <a href="https://myvote.wi.gov/en-US/MyMunicipalClerk">local election office</a>. </div><h4>What should I do if I don’t get my ballot? </h4><div>If you don’t receive your ballot in the mail, then contact your <a href="https://myvote.wi.gov/en-US/MyMunicipalClerk">local election office</a>. </div><h4>How do I return my ballot? </h4><ul><li>Read the instructions carefully on how to mark and return your ballot. </li><li>You can return your ballot by mail or by visiting a dedicated drop off location. </li><li><a href="https://myvote.wi.gov/en-us/Vote-Absentee-Guide">Find a ballot drop off location near you</a>.</li><li>If you choose to return your ballot by mail, the <a href="https://about.usps.com/what/government-services/election-mail/">United States Postal Service (USPS)</a> recommends that voters mail their completed ballots at least one week before the due date. <a href="https://tools.usps.com/find-location.htm">Find a USPS location near you</a>.</li></ul><h4>What do I need to do if I’ve moved? </h4><div>What’s on your ballot depends on where you live, so your voter registration is tied to your exact address. If you’ve moved, you need to re-register with your new address.</div> <br> <h4>How can I check the status of my ballot?</h4><div>You can check the status of your ballot on <a href="https://myvote.wi.gov/en-us/Track-My-Ballot">Wisconsin’s site</a>.</div>  '
              whoCanVote:
                question: Who can register to vote?
                answer: '<div>To register in Wisconsin you must: <ul>  <li>be a citizen of the United States </li><li>be a resident of Wisconsin and have resided at the registration address for at least 28 days prior to the election</li><li>be 18 years old on or before Election Day</li><li>not have been convicted of treason, felony or bribery, or if you have, your civil rights have been restored after completion of your sentence or a pardon </li><li>not have been found by a court to be incapable of understanding the objective of the electoral process </li><li>not make or benefit from a bet or wage depending on the result of an election </li><li>not have voted at any other location, if registering on Election Day</li></ul></div>'
              onlineVoterRegistration:
                question: Can I register to vote online?
                answer: '<ul><li>Wisconsin offers <a href="https://myvote.wi.gov/en-us/RegisterToVote">online voter registration</a>.</li><li>You should know: you need a Wisconsin driver''s license or state ID card to use Wisconsin''s online voter registration system. The address where you''re registering needs to match the address the DMV has on file for you. If you don''t have a Wisconsin ID, you can still register by mail to vote.</li></ul> '
              byMailRegistration:
                question: Can I submit voter registration forms by mail?
                answer: '<div>Yes, you can print, complete and mail the <a href="https://www.eac.gov/assets/1/6/Federal_Voter_Registration_ENG.pdf">National Voter Registration Form</a> to register to vote in Wisconsin. <br><br>Here’s some advice on how to complete the form:</div><ul><li>Box 6 - ID Number<ul><li><div>Provide your unexpired Wisconsin driver license or DOT-issued ID card number. </div><ul><li>If you do not have one of these ID numbers, provide the last four digits of your Social Security number (SSN).</li><li>If you do not have one of these ID numbers or SSN, you will still be able to register to vote. </li></ul><div>You must also provide Proof of Residence documentation when registering. All Proof of Residence documents must show your name and current residential address. Acceptable forms include but are not limited to:</div><ul><li>current and valid State of Wisconsin Driver License or State ID card</li><li>any official ID card or license issued by the Wisconsin government</li></ul><div>Find additional forms of proof of residence from the <a href="https://elections.wi.gov/Register">Wisconsin Election Commission</a>. </div></li></ul></li><li>Box 7 - Choice of Party: Wisconsin does NOT require that you register with a party to participate in partisan primary elections.</li><li>Box 8 - Race or Ethnic Group: Not required.</li><li>Review the "Who can register to vote?" section and check that you''re eligible.</li><li>Sign the form.</li><li>Send the completed form to your <a href="https://myvote.wi.gov/en-US/MyMunicipalClerk">local election office</a></li></ul><div></div><h4>What if I''m registering to vote for the first time in my jurisdiction and mailing this registration application?</h4><ul></ul>'
              electionDayRegistration:
                question: Can I register to vote on Election Day?
                answer: Wisconsin <em>does</em> offer in person registration on Election Day.
              inPersonRegistration:
                question: Can I submit voter registration forms in person?
                answer: <ul><li>You can also register to vote in person. Contact your <a href="https://myvote.wi.gov/en-US/MyMunicipalClerk">local election office</a> for information on when and where to register to vote.</li><li>You can also register to vote and cast a ballot in person on Election Day.</li><li>Learn more by visiting the <a href="https://elections.wi.gov/">Wisconsin Elections Commission</a>'s website or contacting your <a href="https://myvote.wi.gov/en-US/MyMunicipalClerk">local election office</a>.</li></ul>
              datesAndDeadlines:
                question: What are key deadlines for this election?
                answer: <div><div class="subsection"><span content="Registration deadlines"></span><span content="Registration deadlines"></span><span><span content="Wisconsin"></span></span><span class="bold" content="2000-02-02"></span><span class="bold" content="2000-02-02"></span><h4 class="bold">Registration deadlines</h4><ul><li><span content="Registration deadlines"></span><span><a href="https://myvote.wi.gov/en-us/FindMyPollingPlace"><span>In-person at voting location on Election Day</span></a><span>:</span><span content="2023-02-21"><span content="2023-02-21">Feb 21</span></span><span><span content="Wisconsin"></span></span></span></li><li><span content="Registration deadlines"></span><span><a href="https://myvote.wi.gov/en-us/RegisterToVote"><span>Online</span></a><span>:</span><span content="2023-02-01"><span content="2023-02-01">Feb 1</span></span><span><span content="Wisconsin"></span></span></span></li><li><span content="Registration deadlines"></span><span><a href="https://elections.wi.gov/Register#230548828-3947500893"><span>By mail (postmarked by)</span></a><span>:</span><span content="2023-02-01"><span content="2023-02-01">Feb 1</span></span><span><span content="Wisconsin"></span></span></span></li></ul></div><div class="subsection"><span content="Absentee ballot deadlines"></span><span content="Absentee ballot deadlines"></span><span><span content="Wisconsin"></span></span><span class="bold" content="2000-02-02"></span><span class="bold" content="2000-02-02"></span><h4 class="bold">Absentee ballot deadlines</h4><ul><li><span content="Absentee ballot deadlines"></span><span><a href="https://myvote.wi.gov/en-us/Vote-Absentee-By-Mail"><span>Request ballot</span></a><span>:</span><span content="2023-02-16"><span content="2023-02-16">Feb 16</span></span><span><span content="Wisconsin"></span></span></span></li></ul></div><div class="subsection"><span content="Voting deadlines"></span><span content="Voting deadlines"></span><span><span content="Wisconsin"></span></span><span class="bold" content="2000-02-02"></span><span class="bold" content="2000-02-02"></span><h4 class="bold">Voting deadlines</h4><ul><li><span content="Voting deadlines"></span><span><a href="https://myvote.wi.gov/en-US/Vote-Absentee-In-Person"><span>Early voting (in-person absentee voting)</span></a><span>:</span><a href="https://myvote.wi.gov/en-US/Vote-Absentee-In-Person"><span>varies by location</span></a><span content="2023-02-21"></span><span><span content="Wisconsin"></span></span></span></li><li><span content="Voting deadlines"></span><span><a href="https://myvote.wi.gov/en-us/FindMyPollingPlace"><span>In-person</span></a><span>:</span><span content="2023-02-21"><span content="2023-02-21">Feb 21</span></span><span><span content="Wisconsin"></span></span></span></li></ul></div></div>
              voterId:
                question: Do I need to bring an ID to vote in person?
                answer: '<div>You will need to show a photo ID to vote in Wisconsin. </div><br><div>An

                  acceptable photo ID is not required to contain a current address. These photo

                  IDs are acceptable and can be unexpired or expired after the date of the most

                  recent general election:<ul>  <li> Wisconsin DOT-issued driver license, even

                  if driving privileges are revoked or suspended, with or without a star in the

                  right-hand corner</li><li> Wisconsin DOT-issued identification card, with or

                  without a star in the right-hand corner</li><li>  Wisconsin DOT-issued identification

                  card or driver license without a photo issued under the religious exemption</li><li>

                  military ID card issued by a U.S. uniformed service</li><li> U.S. passport</li></ul></div><br><div>The

                  following photo ID is also acceptable for voting purposes, and can be expired

                  before the date of the most recent general election:<ul>  <li> identification

                  card issued by a federally recognized Indian tribe in Wisconsin</li><li> photo

                  identification card issued by a Wisconsin accredited university or college that

                  contains date of issuance, expiration date no later than two years after issuance,

                  and signature of student (must be accompanied by a separate document that proves

                  enrollment if the student ID is expired)</li></ul></div><br><div>The following

                  photo IDs are also acceptable for voting purposes, but must be unexpired:<ul>

                  \ <li> veteran''s photo identification card issued by the Veterans Health Administration

                  of the federal Department of Veterans Affairs</li><li> certificate of naturalization

                  that was issued not earlier than two years before the date of an election at

                  which it is presented</li><li> driving receipt issued by Wisconsin DOT (valid

                  for 45 days)</li><li> identification card receipt issued by Wisconsin DOT (valid

                  for 45 days)</li><li> temporary identification card receipt issued by Wisconsin

                  DOT through the Identification Petition Process (IDPP) (valid for 60 days)</li></ul></div><br><div>Voters

                  without ID: If you are unable to provide photo ID, you will be able to vote

                  a provisional ballot. Your provisional ballot will not count unless you provide

                  an acceptable photo ID to the poll workers by 8:00 p.m. on Election Day or to

                  your municipal clerk in person by 4:00 p.m. the Friday after the election.</div>

                  '
              whatsOnTheBallot:
                question: How do I see what's on my ballot?
                answer: ' '
              militaryAndOverseas:
                question: How do I vote if I'm in the military or live overseas?
                answer: '<div>Active-duty military, their families, and overseas citizens can register to vote and request their absentee ballot using the Federal Post Card Application (FPCA). The FPCA process is done by mail, but your state may offer other options to request and return ballots. Please <a href="https://www.fvap.gov/search-offices">contact your local election office</a> for more information about delivery and return methods, including email, fax, and state online portals. To follow the FPCA process:</div><ol><li>Fill out the <a href="https://www.fvap.gov/fpca-privacy-notice">Federal Post Card Application (FPCA)</a>, or <a href="https://www.fvap.gov/uploads/FVAP/Forms/fpca.pdf">download a copy</a>. Your local election office may have questions, so please provide an email address or phone number where they can reach you.</li><li>Send the application to your <a href="https://www.fvap.gov/search-offices">local election office</a>.</li><li>It is never too early to submit an FPCA! Please do so as soon as possible.</li><li>Please fill out and send back your ballot as soon as you receive it.</li><li>States begin mailing absentee ballots at least 45 days before Election Day. If you haven''t received your ballot by 30 days before Election Day, contact your <a href="https://www.fvap.gov/search-offices">local election office</a>.</li></ol><div>If after submitting your FPCA, your ballot does not arrive, contact your local election office first. Then: </div><ul><li>You can still vote using the <a href="https://www.fvap.gov/fwab-privacy-notice">Federal Write-In Absentee Ballot (FWAB)</a>. Print, sign, and mail your FWAB to your <a href="https://www.fvap.gov/search-offices">local election office</a>.</li><li>If you mail a FWAB and then receive your regular absentee ballot, you should complete and mail your absentee ballot also. Election officials will ensure that only one ballot is counted.</li></ul><div>The <a href="https://www.fvap.gov/wisconsin">Federal Voting Assistance Program</a> offers additional information on military and overseas voting in Wisconsin. You can also call <a href="tel:+18004388683">1-800-438-VOTE</a> (8683) or email <a href="mailto:vote@fvap.gov">vote@fvap.gov</a></div>'
              checkRegistration:
                question: How can I check my voter registration status?
                answer: You can look up your voter registration record and verify that your information is correct using <a href="https://myvote.wi.gov/en-us/MyVoterInfo">Wisconsin's voter registration lookup tool</a>.
              stateContactInfo:
                question: How do I contact my state election office?
                answer: '<div><a href="https://elections.wi.gov/">Elections Commission</a></div><ul><li><a href="https://www.google.com/maps/place/201%20West%20Washington%20Avenue,%20Second%20Floor%20Madison,%20WI%2053703">201 West Washington Avenue, Second Floor Madison, WI 53703</a></li><li>Telephone: <a href="tel:(608)%20266-8005">(608) 266-8005</a></li></ul>'
              localContactInfo:
                question: How do I contact my local election office?
                answer: ' Visit your state’s site to find your<strong> </strong><a href="https://myvote.wi.gov/en-US/MyMunicipalClerk">local election office</a>.'
          - ocdId: ocd-division/country:us/state:ca/county:marin/school_district:novato_unified
            createdAt: '2023-02-22T15:54:43.000-05:00'
            updatedAt: '2023-03-05T23:31:00.000-05:00'
            date: '2023-03-07'
            description: Novato Unified School District Special Tax Election
            type: school
            pollingLocationUrl: https://voterstatus.sos.ca.gov
            canonicalUrl: https:/voting.democracy.works/en/elections/ca/county/marin/school_district/novato_unified/2023-03-07.html
            website: https://www.marincounty.org/depts/rv/election-info/march-7-2023
            guidancePhase: past
            population: 62,142
            voting:
              inPersonVotingAvailable: true
              mailBallotsSentAutomatically: true
              early:
                url: https://www.marincounty.org/depts/rv/election-info/march-7-2023/page-data/tabs-collection/vote-centers-and-drop-boxes/votecenters
                startDate: '2023-02-06'
                endDate: '2023-03-06'
                varies: null
              byMail:
                idInstructions: null
                explainerUrl: null
                allMail:
                  ballotInfoUrl: null
                  ballotSendStartDate: null
                  ballotSendEndDate: null
                  ballotReceiveExpectedStartDate: null
                  ballotReceiveExpectedEndDate: null
                deadline:
                  postmarkedOrReceived: null
                  receivedNoLaterThan:
                    date: null
                    timestamp: null
                    description: null
                  returnInPerson:
                    date: null
                    timestamp: null
                    description: null
                  returnByMail:
                    date: null
                    timestamp: null
                    description: null
                  ballotRequest:
                    postmarkedOrReceived: null
                    date: null
                    timestamp: null
                    description: null
              inPerson:
                idRequiredAllVoters: false
                idInstructions: 'If you choose to vote in person and you’ve voted in California

                  before, you don’t need to show ID.<br><br>If you’re a first time voter in a

                  federal election who registered by mail and didn’t include your driver’s license

                  number, California ID number, or the last four digits of your Social Security

[...]
