openapi: 3.0.2
info:
  title: Democracy Works Elections API
  version: '2.0'
  description: "# Introduction\n\nThe Democracy Works Elections API provides your application with comprehensive elections data and voting guidance, surfacing our unparalleled coverage of upcoming local, state, and federal elections. Power your platforms, apps, reminders, outreach campaigns, and much more.\n\nJoin the community of developers in our [Google Group](https://groups.google.com/a/democracy.works/g/democracy-works-data)\nfor updates about our data and elections.\n\n## Authentication\nAccess to the Democracy Works Elections API requires authentication. To access the DW API, include an X-API-Key header with each API request. The value of that header should be your API key. For example:\n\n```sh\ncurl \"https://api.democracy.works/v2/elections\" \\\n    --header \"X-API-KEY: <YOUR API KEY>\"\n```\n\nFor pricing information and to obtain a test key, please [contact us](https://data.democracy.works/api-signup).\n\n## Base URL\nThe base URL for all API endpoints is: https://api.democracy.works/v2\n\n## Support\nIf you have any further questions or issues, please contact us at partnerships@democracy.works.\n\n## Data\n\nData is captured in two entities, an __Election__ and an __Authority__. The __Election__ has election-specific dates and deadlines, URLs for voters to get more information and take action, and detailed guidance in both English and Spanish. The __Authority__ includes statewide evergreen information and instructions on how to register and vote for each state, as well as election office contact information. \n\n# Open Civic Data IDs (OCD-IDs)\n\nWe use Open Civic Data IDs [(OCD-IDs)](https://opencivicdata.info/en/latest/ocdids.html) \nthroughout the API to describe entities and filter results. \n\nOCD-IDs start with what is being identified, and in our case it is always \n`ocd-division`.\n\nSince all authorities are, or are contained within, a state and all elections \nare run by some authority, almost every OCD-ID in our system starts with \n`ocd-division/country:us/state:__`, where `__` is a two-letter state postal code.\n\nThe only exception to this is for the District of Columbia, which has the OCD-ID \n`ocd-division/country:us/district:dc`.\n\n## OCD-ID on the Authority\nThe OCD-ID associated with an authority describes the political district covered\nby an authority. Authorities are uniquely identifiable by the associated OCD-ID.\n\nFor example:\n- The OCD-ID `ocd-division/country:us/state:ak/place:anderson` is associated \n  with the authority for Anderson, Alaska.\n- The OCD-ID `ocd-division/country:us/state:ny/county:albany/council_district:2` \n  is not associated with an authority because Albany's 2nd Ward is a legislative \n  ward which does not run its own elections.\n\n## OCD-ID on the Election\nThe OCD-ID associated with an election describes the highest-level district \nin which all voters have something to vote for on the ballot on Election Day. \nElections always have an associated OCD-ID, but are not uniquely\nidentifiable by the associated OCD-ID.\n\nFor example:\n- If there is a mayoral race in Philadelphia as well as a state-wide \nmeasure contest in Pennsylvania on a given day, there will be one election \nentity with OCD-ID `ocd-division/country:us/state:pa`.\n- If there is only a mayoral race in Pittsburgh in Allegheny County on a given \nday, there will be an election entity with OCD-ID \n`ocd-division/country:us/state:pa/county:allegheny`.\n\n# Standard Parameters\nFunctionality shared between API endpoints is noted here. Each endpoint will\nspecify whether it supports the following functionality.\n\n## Pagination\nAny endpoint that returns multiple results supports pagination. An endpoint that \nsupports pagination accepts two related query parameters:\n- `pageSize`\n  - Specifies the number of results requested. Defaults to 10 if not specified. The maximum value is 100.\n  - Example: `pageSize=15`\n- `page`\n  - Specifies the page to return, based on `pageSize`. Defaults to 1 if not specified.\n  - Example: `page=2`\n\nYou can send none, one, or both of these parameters. Each endpoint that supports\npagination will have a `pagination` field in the response, which details what\npage of information is returned, what page size was used for the request, and the\ntotal number of results found. \n\n## Localization\nSome endpoints support localization. An endpoint that supports localization accepts a\nheader parameter:\n- `Accept-Language`\n  - Specifies the language tag for localization. Accepted values are `en`, `en-US`, `es`, and `es-US`.\n  - Example: `Accept-Language: es`\n\nNot all fields on the response of a localized endpoint are localized. Each field that supports localization\nwill have a `Localized` tag on its field description.\n\nIf no localization in the requested language is found,\nlocalized fields will return `null`.\n\n## Content Formatting\nSome endpoints support content formatting. An endpoint that supports formatting accepts a\nquery parameter:\n- `contentFormatType`\n  - Specifies the format of certain fields in the response.\n    Accepted values are `html` and `json`. Defaults to `html` if not specified.\n  - Example: `contentFormatType=json`\n\nNot all fields on the response of a formatted endpoint are formatted. \nFormatting is generally supported on prose-like fields, including Question and Answer content and most instruction fields.\nEach field that supports formatting will have a `Formatted` tag on its field description.\n\nThe `json`-formatted content is the content represented as an [AST](https://en.wikipedia.org/wiki/Abstract_syntax_tree).\n\n## Fields\nSome endpoints support field masking to specify a list of fields to include in the API response. This helps to avoid unnecessary computation and improve performance. An endpoint that supports field masking accepts a\nquery parameter:\n- `fields`\n  - Specifies the symbolic field paths to include in the response, provided as comma-separated list. See more about [Field Masks](https://protobuf.dev/reference/protobuf/google.protobuf/#field-mask).\n  - Example: `fields=\"ocdId,date,contact.email\"`\n\nPaths are validated against all possible fields, and providing an invalid path will result in a 400 response.\n"
servers:
- url: https://api.democracy.works/v2
tags:
- name: Elections
paths:
  /elections:
    get:
      operationId: getElections
      summary: Elections
      description: "This endpoint has election-specific dates and deadlines, URLs for voters to get more information and take action, and detailed guidance in both English and Spanish. The information included reflects the voter registration and voting methods available in the state for that election, such as online, in-person, and by-mail registration as well as by-mail, in-person, and early voting. The election also contains some information from the related state authority. The default is to return all elections, though you can limit the response to upcoming elections through the use of the start date parameter. Elections are returned sorted chronologically by election date. \n\nAfter an election is confirmed to be occurring, Democracy Works surfaces information about an election as details become available. An elections guidance phase describes the state of the currently available guidance.\n\nA `past` election is an election whose election date is in the past. A `known` election is an upcoming election for which key details and deadlines have yet to be released. An `active` election is an upcoming election for which details have been vetted and confirmed by the Democracy Works team.\n\nElections are returned sorted chronologically by election date. \n\nSupports the following standard parameters: see __[Pagination](#section/Standard-Parameters/Pagination)__, __[Localization](#section/Standard-Parameters/Localization)__, __[Content Formatting](#section/Standard-Parameters/Content-Formatting)__, and __[Fields](#section/Standard-Parameters/Fields)__.\n\n### Ballot Measure Information\n\nInformation about measures on the ballot are available for the following elections:\n- All federal elections\n- All statewide elections\n\nBallot measure information is not included in the default response for an election. For ballot measure information to be included with the response, include the `includeBallotData` parameter with a value of `true`.\n\nBallot data is sourced from [Ballotpedia](https://ballotpedia.org/).\n\n### Candidate and Contest Information\n\nFor the November 5, 2024 elections, our ballot information will include the following:\n- All federal contests and candidates, including president, vice president, senate, and house of representatives\n- All state contests and candidates, including governor, treasurer, secretary of state, state legislative seats, state supreme court, district court, and court of appeals\n- Local candidates and contests including mayor, county judge, county clerk, commissioners, and city councils in the top 100 cities by population, plus state capitals and school board elections in 475 districts\n    - Local coverage may be limited by mapping constraints and in states where primaries have not yet been held.\n\nBallot data is sourced from [Ballotpedia](https://ballotpedia.org/).\n"
      security:
      - ApiKeyAuth: []
      parameters:
      - name: address
        in: query
        schema:
          type: string
          description: If sending an address as a single string, the street, city, state, and zip code of an address to get elections for. Using separate parameters for each address element (as shown below) is preferred.
          example: 813%20Howard%20Street%20Oswego%20NY%2013126
        required: false
      - name: addressStreet
        in: query
        schema:
          type: string
          description: The street to get elections for in conjunction with other required address parameters.  Include Apt numbers or other additional information.
          example: 813%20Howard%20Street
        required: false
      - name: addressCity
        in: query
        schema:
          type: string
          description: The city to get elections for in conjunction with other required address parameters.
          example: Oswego
        required: false
      - name: addressStateCode
        in: query
        schema:
          type: string
          description: The 2 letter postal code to get elections for in conjunction with other required address parameters.  DC is also accepted.
          example: NY
        required: false
      - name: addressZip
        in: query
        schema:
          type: string
          description: The zip code to get elections for in conjunction with other required address parameters.
          example: '13126'
        required: false
      - name: addressZip4
        in: query
        schema:
          type: string
          description: OPTIONAL. The zip plus 4 to get elections for in conjunction with other required address parameters.
          example: '9029'
        required: false
      - name: stateCode
        in: query
        schema:
          type: string
          description: The 2-letter postal code to get elections within a respective state. DC is accepted as well.
          example: CA
        required: false
      - name: ocdId
        in: query
        schema:
          type: string
          description: The OCD-ID(s) of a political division; elections that apply to a voter in this political division will be returned.  This parameter may be provided multiple times to return all elections with any of the OCD IDs provided.
          example: ocd-division%2Fcountry%3Aus%2Fstate%3Any%2Fcounty%3Akings
        required: false
      - name: startDate
        in: query
        schema:
          type: date
          description: The earliest date to get elections for, inclusive, in UTC ISO 8601 format.
          example: '2023-01-01'
        required: false
      - name: endDate
        in: query
        schema:
          type: date
          description: The latest date to get elections for, inclusive, in UTC ISO 8601 format.
          example: '2023-01-02'
        required: false
      - name: includeQuestionAndAnswer
        in: query
        schema:
          type: boolean
          description: Whether Question and Answer content should be included for each returned election. Defaults to false if not specified. Response fields are formattable with the __[content formatting](#section/Standard-Parameters/Content-Formatting)__ standard parameter.
          example: true
        required: false
      - name: includeBallotData
        in: query
        schema:
          type: boolean
          description: Whether ballot data (ballot measures, candidates, and contests) should be included for each returned election. Defaults to false if not specified.
          example: true
        required: false
      responses:
        '200':
          description: Elections fetched by query.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      elections:
                        type: array
                        items:
                          $ref: '#/components/schemas/election'
                      statewideOnly:
                        type: boolean
                        description: Unable to determine elections more granular than the state level.  Only state level elections returned.
                  pagination:
                    $ref: '#/components/schemas/pagination'
              examples:
                sampleElectionsResponse:
                  $ref: '#/components/examples/elections'
        '400':
          $ref: '#/components/responses/badRequestError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        '500':
          $ref: '#/components/responses/internalServerError'
      tags:
      - Elections
components:
  responses:
    tooManyRequestsError:
      description: TooManyRequestsError
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayErrors'
          example:
            message: Too Many Requests
    internalServerError:
      description: InternalServerError
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errors'
          example:
            status: 500
            message:
            - Something went wrong.
    badRequestError:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errors'
          example:
            status: 400
            message:
            - Something has gone wrong parsing your query string. Please refer to our documentation at https://developers.democracy.works/api/v2 to confirm all required fields are present and all fields are formatted correctly.
  schemas:
    candidate:
      description: A representation of a candidate.
      type: object
      required:
      - id
      - fullName
      - firstName
      - lastName
      - partyAffiliation
      - isWriteIn
      properties:
        id:
          type: string
          description: The ID of the candidate.
        fullName:
          type: string
          description: The full name of the candidate.
        firstName:
          type: string
          description: The first name of the candidate.
        lastName:
          type: string
          description: The last name of the candidate.
        partyAffiliation:
          type: array
          description: Describes the party affiliation of the candidate.
          items:
            type: string
        ballotpediaUrl:
          type: string
        status:
          type: string
        isWriteIn:
          type: boolean
          description: Indicates whether a candidate is a write-in candidate.
        runningMateFullName:
          type: string
        runningMateTitle:
          type: string
        contact:
          type: object
          properties:
            campaign:
              type: object
              properties:
                email:
                  type: string
                  description: The candidates campaign email address.
                website:
                  type: string
                  description: The candidates campaign website.
                facebook:
                  type: string
                  description: The candidates campaign Facebook.
                twitter:
                  type: string
                  description: The candidates campaign Twitter.
                instagram:
                  type: string
                  description: The candidates campaign Instagram.
                youtube:
                  type: string
                  description: The candidates campaign YouTube.
                mailingAddress:
                  type: string
                  description: The candidates campaign mailing address.
                phone:
                  type: string
                  description: The candidates campaign phone number.
            personal:
              type: object
              properties:
                website:
                  type: string
                  description: The candidates personal website.
                facebook:
                  type: string
                  description: The candidates personal Facebook.
                twitter:
                  type: string
                  description: The candidates personal Twitter.
                instagram:
                  type: string
                  description: The candidates personal Instagram.
                youtube:
                  type: string
                  description: The candidates personal YouTube.
                linkedIn:
                  type: string
                  description: The candidates personal LinkedIn.
    pagination:
      type: object
      properties:
        totalRecordCount:
          type: number
          description: Total records found for the given query.
        currentPage:
          type: number
          description: The page of records returned.
        pageSize:
          type: number
          description: The number of records returned.
    election:
      description: A representation of an election.
      type: object
      required:
      - description
      - date
      - ocdId
      properties:
        ocdId:
          type: string
          description: Provides the [OCD-ID](https://opencivicdata.info/en/latest/ocdids.html) associated with the office.
        createdAt:
          type: string
          description: ISO 8601 timestamp of when the election was first created in Democracy Works' internal database.
        updatedAt:
          type: string
          description: ISO 8601 timestamp of when the election was last updated in Democracy Works' internal database.
        date:
          type: string
          description: Date of the election in YYYY-MM-DD format.
        description:
          type: string
          description: 'The election name which includes the jurisdiction affected by the election and a descriptor of the election type.


            `Localized`

            '
        type:
          type: string
          description: Provides the election type.
          enum:
          - congressional
          - county
          - municipal
          - presidentialPrimary
          - school
          - state
          - stateHouse
          - stateSenate
          - subMunicipal
        pollingLocationUrl:
          type: string
          description: Lookup URL for voting location information. If an election is all-mail, this URL will link to information for election-specific dropbox locations.
        canonicalUrl:
          type: string
          description: 'Provides a URL to the Democracy Works data source for attribution purposes. Attribution allows voters to assess the reliability and provenance of election data and guidance.


            `Localized`

            '
        website:
          type: string
          description: 'Provides a URL for voters to access additional information on the upcoming election, when available.


            `Localized`

            '
        guidancePhase:
          type: string
          description: 'After an election is confirmed to be occurring, Democracy Works surfaces information about an election as details become available. An elections guidance phase describes the state of the currently available guidance.


            A past election is an election whose election date is in the past. A known election is an upcoming election for which key details have yet to be released. An active election is an upcoming election for which details have been vetted and confirmed by the Democracy Works team.

            '
          enum:
          - past
          - known
          - active
        population:
          type: string
          description: Provides the affected population number for the given election using Census data or government data. This field will be null if the population is less than 5,000.
        voting:
          type: object
          properties:
            inPersonVotingAvailable:
              type: boolean
              description: Indicates whether an election has options to vote in person.
            mailBallotsSentAutomatically:
              type: boolean
              description: Indicates whether ballots are sent to eligible registered voters automatically in an election without voters having to request ballots themselves.
            early:
              type: object
              properties:
                url:
                  type: string
                  description: Provides website for voters to find out more about when and where to vote early in a specific election or provides general information about the early voting process if available.
                startDate:
                  type: string
                  description: Provides the date when early voting or absentee in person voting begins for the election in YYYY-MM-DD format if early voting or absentee in person voting is available in the election. If in person absentee voting starts as ballots are available, as opposed to a specific start date, this field will be blank and only voting.early.endDate will be returned.
                endDate:
                  type: string
                  description: Provides the date when early voting or absentee in person voting ends for the election in YYYY-MM-DD format if early voting or absentee in person voting is available in the election.
                varies:
                  type: boolean
                  description: Indicates whether early voting dates are consistent across locations and whether early voting is available every day between when early voting starts and when early voting ends.
            byMail:
              type: object
              properties:
                idInstructions:
                  type: string
                  description: Provides election-specific instructions for voters who choose to vote by mail.
                explainerUrl:
                  type: string
                  description: 'Provides a URL where voters can learn more about voting by mail.


                    `Localized`

                    '
                allMail:
                  type: object
                  properties:
                    ballotInfoUrl:
                      type: string
                      description: Provides a URL where voters can learn more about their ballot in an all mail election.
                    ballotSendStartDate:
                      type: string
                      description: Provides the date in which a state will start to send mail ballots to all registered voters in an all mail election. Not collected for most all mail elections.
                    ballotSendEndDate:
                      type: string
                      description: Provides the date in which a state will finish sending mail ballots to all registered voters in an all mail election. Not collected for most all mail elections.
                    ballotReceiveExpectedStartDate:
                      type: string
                      description: Provides the date in which states expect voters to start receiving their mail ballots in an all mail election. Not collected for most all mail elections.
                    ballotReceiveExpectedEndDate:
                      type: string
                      description: Provides the date in which states expect voters to have received their mail ballots in an all mail election. Not collected for most all mail elections.
                deadline:
                  type: object
                  properties:
                    postmarkedOrReceived:
                      type: string
                      description: Provides the deadline type for whether the the voted ballot needs to be postmarked by or received by the ballot return deadline. Only collected for specific elections.
                    receivedNoLaterThan:
                      type: object
                      properties:
                        date:
                          type: string
                          description: Provides the last date that the election office can receive a voted ballot in the mail if the return deadline has a "must be postmarked by YYYY-MM-DD if received by YYYY-MM-DD" deadline. Only collected for specific elections.
                        timestamp:
                          type: string
                          description: Provides the ISO timestamp deadline for the last day for the election office to receive a voted ballot in the mail if the return deadline has a "must be postmarked by YYYY-MM-DD if received by YYYY-MM-DD" deadline. Only collected for specific elections.
                        description:
                          type: string
                          description: Provides the time deadline on the last day the election office can receive a voted ballot in the mail if the return deadline is expressed in a "must be postmarked by YYYY-MM-DD if received by YYYY-MM-DD" format if the time deadline is expressed in a phrase instead of an ISO timestamp. Examples could include "close of business" or "close of polls". Only collected for specific elections.
                    returnInPerson:
                      type: object
                      properties:
                        date:
                          type: string
                          description: Provides the date deadline to return a voted ballot in person. Only collected for specific elections.
                        timestamp:
                          type: string
                          description: Provides the ISO timestamp deadline to return a voted ballot in person. Not collected for most elections.
                        description:
                          type: string
                          description: 'Provides the time deadline to return a voted ballot in person if the deadline is expressed in a phrase instead of an ISO timestamp. Examples include "close of business" or "close of polls". Not collected for most elections.


                            `Localized`

                            '
                    returnByMail:
                      type: object
                      properties:
                        date:
                          type: string
                          description: Provides the deadline date to return a voted ballot in the mail. Only collected for specific elections.
                        timestamp:
                          type: string
                          description: Provides the ISO timestamp deadline to return a voted ballot in the mail on the last day to return a voted ballot. Not collected for most elections.
                        description:
                          type: string
                          description: 'Provides the time deadline to return a voted ballot in the mail on the last day to return a voted ballot if the deadline is expressed in a phrase and not in an ISO timestamp. Examples include "close of business" or "close of polls". Only collected for specific elections.


                            `Localized`

                            '
                    ballotRequest:
                      type: object
                      properties:
                        postmarkedOrReceived:
                          type: string
                          description: Provides the deadline type for the deadline to request a ballot by mail. Types include postmarked or received. Only collected for specific elections.
                        date:
                          type: string
                          description: Provides the last date to request a ballot by mail for the election. If there are different deadlines for submitting an application in-person and by-mail, this is the by-mail application request deadline. All mail elections in which all voters receive a ballot in the mail will not have a ballot request deadline.
                        timestamp:
                          type: string
                          description: Provides the ISO timestamp deadline date to request a ballot by mail for the election on the last day voters are able to do so. This time deadline is not collected for most elections.
                        description:
                          type: string
                          description: 'Provides the time deadline to request a ballot by mail if the deadline is described by a phrase and not by an ISO timestamp. Examples include "close of business" or "close of polls". Only collected for specific elections.


                            `Localized`

                            '
            inPerson:
              type: object
              properties:
                idRequiredAllVoters:
                  type: boolean
                  description: Indicates whether an ID is required for all voters.
                idInstructions:
                  type: string
                  description: Provides the election-specific instructions to vote in person including what identification voters may need to show at the voting location for states that have a voting.predominantMethod of byMail.
                electionDay:
                  type: object
                  properties:
                    closing:
                      type: object
                      properties:
                        timestamp:
                          type: string
                          description: Provides the ISO timestamp that in person voting closes on Election Day. Only collected for specific elections.
                        description:
                          type: string
                          description: 'Provides time of day deadline that indicates when in person voting closes on Election Day when the deadline is expressed in a phrase as opposed to an ISO timestamp. Examples include "close of business" or "close of polls". Only collected for specific elections.


                            `Localized`

                            '
        registration:
          type: object
          properties:
            explainerUrl:
              type: string
              description: 'Provides a URL where voters can learn more about registering to vote.


                `Localized`

                '
            inPerson:
              type: object
              properties:
                atPollingPlaceOnElectionDay:
                  type: boolean
                  description: Defines whether election day registration is available for the election at all voting locations. If election day registration takes place at a location other than the voting location, this field will be "false".
                localSamedayRegistrationAuthorityLookupUrl:
                  type: string
                  description: Provides a URL where voters can look up the authority with which they can register to vote on election day.
                deadline:
                  type: object
                  properties:
                    date:
                      type: string
                      description: Provides the deadline date to register in-person at the local election office for the election.
                    timestamp:
                      type: string
                      description: Provides the ISO timestamp to register in-person at their local election office for the election on the last day that voters can register to vote in person at their local election office. Only collected for specific elections.
                    description:
                      type: string
                      description: 'Provides the time deadline to register in-person at the local election office for the election on the last day that voters can register to vote in person at their local election office if the time deadline is a phrase as opposed to an ISO timestamp. Examples include "close of business" or "close of polls". Only collected for specific elections.


                        `Localized`

                        '
            online:
              type: object
              properties:
                url:
                  type: string
                  description: Provides a URL with information regarding the online registration process.
                instructions:
                  type: string
                  description: 'Provides instructions for online registration.


                    `Localized` `Formatted`

                    '
                deadline:
                  type: object
                  properties:
                    date:
                      type: string
                      description: Provides the deadline date to register online for the election. Only applicable to elections in states that allow online voter registration.
                    timestamp:
                      type: string
                      description: Provides ISO timestamp in which online voter registration closes on the online voter registration deadline. Only collected for specific elections.
                    description:
                      type: string
                      description: 'Provides phrase time of day deadline that indicates when online voter registration closes on the online voter registration deadline. Example would be "close of business". Not collected for most elections.


                        `Localized`

                        '
            byMail:
              type: object
              properties:
                idInstructions:
                  type: string
                  description: 'Provides instructions regarding ID requirements for registering to vote by mail.


                    `Localized` `Formatted`

                    '
                signatureInstructions:
                  type: string
                  description: 'Provides instructions regarding signature requirements for submitting a voter registration application by mail.


                    `Localized` `Formatted`

                    '
                newVoterInstructions:
                  type: string
                  description: 'Provides instructions for new voters who are submitting a voter registration application by mail.


                    `Localized` `Formatted`

                    '
                deadline:
                  type: object
                  properties:
                    date:
                      type: string
                      description: Provides the last date to register by mail for the election.
                    timestamp:
                      type: string
                      description: Provides the ISO timestamp deadline to register by mail for the election on the last day to registrer to vote. Only collected for specific elections.
                    description:
                      type: string
                      description: 'Provides the time deadline to register by mail for the election on the last day to register to vote if the deadline is expressed in a phrase as opposed to an ISO timestamp. Examples include "close of business" or "close of polls". Only collected for specific elections.


                        `Localized`

                        '
                    postmarkedOrReceived:
                      type: string
                      description: Defines whether a paper registration form needs to be received by or postmarked by the reg-by-mail deadline date for the election.
        questionAndAnswer:
          type: object
          properties:
            keyChanges:
              type: object
              description: 'Provides updates on key voting or registration process changes within a state.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            keyChangesElection:
              type: object
              description: 'Provides updates on key voting or registration process changes that may be relevant to an election.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            whoCanVote:
              type: object
              description: 'Provides the eligibility criteria for a voter to register to vote in a state.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            voteInPerson:
              type: object
              description: 'Provides information on where to vote on Election Day, early voting, voter identification requirements, and how to check the status of your ballot if available.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            voteByMail:
              type: object
              description: 'Provides information on whether or not an excuse is required to vote by mail, instructions on requesting and returning a ballot, instructions on how to check the status of your ballot if available, and information on what to do if you have recently moved and would like to request a ballot.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            onlineVoterRegistration:
              type: object
              description: 'Indicates whether or not online voter registration is available. If available, provides a URL and instructions on how to register to vote online.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            byMailRegistration:
              type: object
              description: 'Provides instructions for a voter to register to vote by mail using the National Voter Registration Form. If the National Voter Registration Form is not accepted within a state, provides instructions to register to vote by mail using the state voter registration form.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            electionDayRegistration:
              type: object
              description: 'Indicates whether or not same day registration on Election Day is available.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            inPersonRegistration:
              type: object
              description: 'Provides instructions on how to register to vote in person.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            primaryRegistration:
              type: object
              description: "Provides instructions for voter registration and party affiliation requirements in partisan primary elections. \n\n`Localized` `Formatted`\n"
              properties:
                question:
                  type: string
                answer:
                  type: string
            primaryVote:
              type: object
              description: 'Provides instructions for voting in a primary election.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            datesAndDeadlines:
              type: object
              description: 'Provides a summary of all voting and registration deadlines associated with an election.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            voterId:
              type: object
              description: 'Indicates whether or not voter identification will be necessary to vote in person for all voters and provides a list of accepted voter identification.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            whatsOnTheBallot:
              type: object
              description: 'Provides a URL to the state''s sample ballot lookup tool for statewide elections if available. If a URL isn''t available, provides a link to Ballotpedia. This will be null for local elections.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            militaryAndOverseas:
              type: object
              description: 'Provides instructions for military and overseas voters on how to vote in an election.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            checkRegistration:
              type: object
              description: 'Provides instructions on how to check your registration status. If available, provides a URL to check your registration status.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            stateContactInfo:
              type: object
              description: 'Provides contact information for the office of the State Election Authority. This will be null for local elections.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
            localContactInfo:
              type: object
              description: 'Provides URL to find contact information for the office of the Local Election Authority.


                `Localized` `Formatted`

                '
              properties:
                question:
                  type: string
                answer:
                  type: string
        ballotMeasures:
          $ref: '#/components/schemas/ballotMeasure'
        contests:
          $ref: '#/components/schemas/contest'
    errors:
      type: object
      properties:
        status:
          type: integer
        message:
          type: array
      required:
      - status
      - message
    contest:
      description: Information on the race for the specific office up for election, including the list of candidates and candidate information.
      type: object
      required:
      - id
      - name
      - level
      - districtName
      - ocdId
      - seatsUpForElection
      - candidates
      properties:
        id:
          type: string
          description: The ID of the contest.
        name:
          type: string
          description: 'The name of the office  (ex: President).'
        level:
          type: string
          description: The level of the contest.
          enum:
          - federal
          - state
          - local
        branch:
          type: string
          description: The branch of government of the office.
          enum:
          - executive
          - judicial
          - legislative
        districtName:
          type: string
          description: The name of the district that elects the office.
        districtType:
          type: string
          description: The type of district that elects the office.
          enum:
          - cityTown
          - cityTownSubdivision
          - congress
          - county
          - countySubdivision
          - judicialDistrict
          - judicialDistrictSubdivision
          - schoolDistrict
          - schoolDistrictSubdivision
          - specialDistrict
          - specialDistrictSubdivision
          - state
          - stateLegislativeLower
          - stateLegislativeUpper
          - stateSubdivision
        contestType:
          type: string
          description: The type of contest.
          enum:
          - regular
          - special
          - recall
        ocdId:
          type: string
          description: The OCD-ID of the contest.
        seatsUpForElection:
          type: string
          description: The number of seats up for election.
        hasPrimary:
          type: boolean
          description: For a general election, indicates if an associated primary election exists.
        primaryDate:
          type: string
          description: For a general election, provides the date of the associated primary election.
        candidates:
          type: array
          items:
            $ref: '#/components/schemas/candidate'
          description: A list of candidates running for election for the contest.
    gatewayErrors:
      type: object
      properties:
        message:
          type: string
      required:
      - message
    ballotMeasure:
      description: Information on the ballot measures on the ballot, including a summary and the full text of the ballot measure.
      type: object
      required:
      - id
      - name
      - shortName
      - districtName
      - districtType
      - type
      - topics
      - summary
      - yesVote
      - noVote
      - ballotQuestion
      - ocdId
      properties:
        id:
          type: string
          description: The ID of the ballot measure.
        name:
          type: string
          description: The name of the ballot measure.
        shortName:
          type: string
          description: The concise name of the ballot measure.
        streamlinedName:
          type: string
          description: The ballot measure name without reference to the state name or year.
        districtName:
          type: string
          description: The name of the district covered by the ballot measure.
        districtType:
          type: string
          description: The type of district relevant to the ballot measure.
          enum:
          - cityTown
          - cityTownSubdivision
          - congress
          - county
          - countySubdivision
          - judicialDistrict
          - judicialDistrictSubdivision
          - schoolDistrict
          - schoolDistrictSubdivision
          - specialDistrict
          - specialDistrictSubdivision
          - state
          - stateLegislativeLower
          - stateLegislativeUpper
          - stateSubdivision
        type:
          type: string
          description: The type of ballot measure.
        topics:
          type: array
          items:
            type: string
          description: An array of topics covered by a ballot measure.
        topicAreas:
          type: array
          items:
            type: string
          description: 'An array of topic areas covered by a ballot measure.


            `Localized`

            '
        summary:
          type: string
          description: Describes a summary of the ballot measure.
        yesVote:
          type: string
          description: Describes what a vote supporting the ballot measure means.
        noVote:
          type: string
          description: Describes what a vote opposed to the ballot measure means.
        ballotQuestion:
          type: string
          description: The full text of the ballot measure.
        ocdId:
          type: string
          description: The OCD-ID associated with the jurisidiction covered by the ballot measure.
        status:
          type: string
  examples:
    elections:
      summary: Sample elections response
      description: 'This is **fictional** data to provide examples of fields values.


        The first election has all fields populated for demonstration purposes.


        The second election is a more realistic example which shows that not all fields are applicable to every election.

        '
      value:
        data:
          elections:
          - ocdId: ocd-division/country:us/state:wi
            createdAt: '2020-01-01T00:00:00.000-05:00'
            updatedAt: '2020-02-01T00:00:00.000-05:00'
            date: '2020-11-03'
            description: Wisconsin General Election
            type: state
            pollingLocationUrl: https://myvote.wi.gov/en-us/FindMyPollingPlace
            canonicalUrl: https://voting.democracy.works/en/elections/wi/2020-11-03.html
            website: https://myvote.wi.gov/en-us/
            guidancePhase: past
            population: 5,880,101
            voting:
              inPersonVotingAvailable: true
              mailBallotsSentAutomatically: false
              early:
                url: https://voting.democracy.works/en/elections/wi/2023-02-21.html
                startDate: '2023-02-07'
                endDate: '2023-02-19'
                varies: true
              byMail:
                idInstructions: 'Active military, permanent overseas voters, and confidential

                  electors are not required to provide a Photo ID when they vote by absentee ballot.

                  An indefinitely confined voter does not need to provide a copy of Photo ID.

                  Instead, the witness signature on the Absentee Ballot Certificate Envelope

                  satisfies the Photo ID requirement. For all other absentee voters, you will

                  need to provide a copy of your acceptable photo ID with your request. If you

                  have not previously provided a copy of photo ID, photo ID must accompany your

                  first application by mail. <br><br>These photo IDs are acceptable and can be

                  unexpired or expired after the date of the most recent general election: A Wisconsin

                  DOT-issued driver license, even if driving privileges are revoked or suspended;

                  A Wisconsin DOT-issued identification card; Military ID card issued by a U.S.

                  uniformed service; A U.S. passport. An identification card issued by a federally

                  recognized Indian tribe in Wisconsin; A photo identification card issued by

                  a Wisconsin accredited university or college that contains date of issuance,

                  expiration date no later than two years after issuance, and signature of student

                  (must be accompanied by a separate document that proves enrollment if the student

                  ID is expired).<br><br>These photo IDs are also acceptable for voting purposes,

                  but must be unexpired: A veteran''s photo identification card issued by the

                  Veterans Health Administration of the federal Department of Veterans Affairs;

                  A certificate of naturalization that was issued not earlier than two years before

                  the date of an election at which it is presented; A driving receipt issued by

                  Wisconsin DOT (valid for 45 days); An identification card receipt issued by

                  Wisconsin DOT (valid for 45 days);  a temporary identification card receipt

                  issued by Wisconsin DOT through the Identification Petition Process (IDPP) (valid

                  for 60 days).

                  '
                explainerUrl: https://myvote.wi.gov/en-us/vote-by-mail
                allMail:
                  ballotInfoUrl: https://myvote.wi.gov/en-us/ballot-info
                  ballotSendStartDate: '2020-10-10'
                  ballotSendEndDate: '2020-10-30'
                  ballotReceiveExpectedStartDate: '2020-10-25'
                  ballotReceiveExpectedEndDate: '2020-11-03'
                deadline:
                  postmarkedOrReceived: received
                  receivedNoLaterThan:
                    date: '2020-11-14'
                    timestamp: '17:00'
                    description: Close of business
                  returnInPerson:
                    date: '2020-11-03'
                    timestamp: '17:00'
                    description: Close of polls
                  returnByMail:
                    date: '2020-11-03'
                    timestamp: '17:00'
                    description: Close of business
                  ballotRequest:
                    postmarkedOrReceived: postmarked
                    date: '2023-02-16'
                    timestamp: '17:00'
                    description: Close of business
              inPerson:
                idRequiredAllVoters: true
                idInstructions: 'You will need to show a photo ID to vote in Wisconsin. <br>An

                  acceptable photo ID is not required to contain a current address. These photo

                  IDs are acceptable and can be unexpired or expired after the date of the most

                  recent general election: Wisconsin DOT-issued driver license, even if driving

                  privileges are revoked or suspended, with or without a star in the right-hand

                  corner; Wisconsin DOT-issued identification card, with or without a star in

                  the right-hand corner;  Wisconsin DOT-issued identification card or driver license

                  without a photo issued under the religious exemption; military ID card issued

                  by a U.S. uniformed service; U.S. passport<br><br>The following photo ID is

                  also acceptable for voting purposes, and can be expired before the date of the

                  most recent general election: identification card issued by a federally recognized

                  Indian tribe in Wisconsin; photo identification card issued by a Wisconsin accredited

                  university or college that contains date of issuance, expiration date no later

                  than two years after issuance, and signature of student (must be accompanied

                  by a separate document that proves enrollment if the student ID is expired)<br><br><br>The

                  following photo IDs are also acceptable for voting purposes, but must be unexpired:

                  veteran''s photo identification card issued by the Veterans Health Administration

                  of the federal Department of Veterans Affairs; certificate of naturalization

                  that was issued not earlier than two years before the date of an election at

                  which it is presented; driving receipt issued by Wisconsin DOT (valid for 45

                  days); identification card receipt issued by Wisconsin DOT (valid for 45 days);

                  temporary identification card receipt issued by Wisconsin DOT through the Identification

                  Petition Process (IDPP) (valid for 60 days)<br><br>Voters without ID: If you

                  are unable to provide photo ID, you will be able to vote a provisional ballot.

                  Your provisional ballot will not count unless you provide an acceptable photo

                  ID to the poll workers by 8:00 p.m. on Election Day or to your municipal clerk

                  in person by 4:00 p.m. the Friday after the election.

                  '
                electionDay:
                  closing:
                    timestamp: '17:00'
                    description: Close of polls
            registration:
              explainerUrl: https://myvote.wi.gov/en-us/register-by-mail
              inPerson:
                atPollingPlaceOnElectionDay: true
                localSamedayRegistrationAuthorityLookupUrl: https://myvote.wi.gov/en-us/register
                deadline:
                  date: '2023-02-17'
                  timestamp: '17:00'
                  description: Close of business
              online:
                url: https://myvote.wi.gov/en-us/RegisterToVote
                instructions: 'You should know: you need a Wisconsin driver''s license or state

                  ID card to use Wisconsin''s online voter registration system. The address where

                  you''re registering needs to match the address the DMV has on file for you.

                  If you don''t have a Wisconsin ID, you can still register by mail to vote.

                  '
                deadline:
                  date: '2023-02-01'
                  timestamp: '17:00'
                  description: Close of business
              byMail:
                idInstructions: 'When submitting your application by mail in Wisconsin, you are required to provide your valid and unexpired Wisconsin driver license or Wisconsin state ID number and the expiration date. If you have not been issued a Wisconsin ID, or if you have an expired, canceled, suspended, or revoked Wisconsin-issued ID, you must provide the last four digits of your Social Security number. If you have not been issued any of these numbers, check the box that indicates you do not have an ID number. You must also provide proof of residence when registering to vote. If you submit your application by mail, you must include a copy of proof of residence or submit proof of residence in an electronic format. Acceptable forms include but are not limited to: current and valid State of Wisconsin Driver License or State ID card or any official ID card or license issued by the Wisconsin government. When filling out a voter registration application, you must review the registration qualifications in Box 1. If you meet the requirements, check all of the boxes. If you do not meet all of the requirements, do not submit the form.'
                signatureInstructions: 'To register in Wisconsin you must: <br>be a citizen of the United States <br>be a resident of Wisconsin and have resided at the registration address for at least 28 days prior to the election<br>be 18 years old on or before Election Day<br>not have been convicted of treason, felony or bribery, or if you have, your civil rights have been restored after completion of your sentence or a pardon <br>not have been found by a court to be incapable of understanding the objective of the electoral process <br>not make or benefit from a bet or wage depending on the result of an election <br>not have voted at any other location, if registering on Election Day'
                newVoterInstructions: New voters should follow the instructions on the website to register.
                deadline:
                  date: '2023-02-01'
                  timestamp: '17:00'
                  description: Close of business
                  postmarkedOrReceived: postmarked
            questionAndAnswer:
              keyChanges:
                question: What key changes should voters know about?
                answer: '<div>Key changes to voting requirements in Wisconsin: </div><ul><li>Eligible voters in Wisconsin may now vote early in-person without an excuse for state and federal elections.'
              keyChangesElection:
                question: What key changes should voters know about?
                answer: Voters must show ID to vote in Wisconsin.
              voteInPerson:
                question: How do I vote in person?
                answer: <div>You can look up where to vote the state website.</div>
              voteByMail:
                question: How do I vote by mail?
                answer: '   <div>In Wisconsin, any registered voter can request to get a ballot by mail. Fill out the <a href="https://elections.wi.gov/wec-form/absentee-ballot-request-el-121-121h-121s">mail ballot application</a> and mail or return it in person to your <a href="https://myvote.wi.gov/en-US/MyMunicipalClerk">local election office</a>. </div><h4>What should I do if I dont get my ballot? </h4><div>If you dont receive your ballot in the mail, then contact your <a href="https://myvote.wi.gov/en-US/MyMunicipalClerk">local election office</a>. </div><h4>How do I return my ballot? </h4><ul><li>Read the instructions carefully on how to mark and return your ballot. </li><li>You can return your ballot by mail or by visiting a dedicated drop off location. </li><li><a href="https://myvote.wi.gov/en-us/Vote-Absentee-Guide">Find a ballot drop off location near you</a>.</li><li>If you choose to return your ballot by mail, the <a href="https://about.usps.com/what/government-services/election-mail/">United States Postal Service (USPS)</a> recommends that voters mail their completed ballots at least one week before the due date. <a href="https://tools.usps.com/find-location.htm">Find a USPS location near you</a>.</li></ul><h4>What do I need to do if Ive moved? </h4><div>Whats on your ballot depends on where you live, so your voter registration is tied to your exact address. If youve moved, you need to re-register with your new address.</div> <br> <h4>How can I check the status of my ballot?</h4><div>You can check the status of your ballot on <a href="https://myvote.wi.gov/en-us/Track-My-Ballot">Wisconsins site</a>.</div>  '
              whoCanVote:
                question: Who can register to vote?
                answer: '<div>To register in Wisconsin you must: <ul>  <li>be a citizen of the United States </li><li>be a resident of Wisconsin and have resided at the registration address for at least 28 days prior to the election</li><li>be 18 years old on or before Election Day</li><li>not have been convicted of treason, felony or bribery, or if you have, your civil rights have been restored after completion of your sentence or a pardon </li><li>not have been found by a court to be incapable of understanding the objective of the electoral process </li><li>not make or benefit from a bet or wage depending on the result of an election </li><li>not have voted at any other location, if registering on Election Day</li></ul></div>'
              onlineVoterRegistration:
                question: Can I register to vote online?
                answer: '<ul><li>Wisconsin offers <a href="https://myvote.wi.gov/en-us/RegisterToVote">online voter registration</a>.</li><li>You should know: you need a Wisconsin driver''s license or state ID card to use Wisconsin''s online voter registration system. The address where you''re registering needs to match the address the DMV has on file for you. If you don''t have a Wisconsin ID, you can still register by mail to vote.</li></ul> '
              byMailRegistration:
                question: Can I submit voter registration forms by mail?
                answer: '<div>Yes, you can print, complete and mail the <a href="https://www.eac.gov/assets/1/6/Federal_Voter_Registration_ENG.pdf">National Voter Registration Form</a> to register to vote in Wisconsin. <br><br>Heres some advice on how to complete the form:</div><ul><li>Box 6 - ID Number<ul><li><div>Provide your unexpired Wisconsin driver license or DOT-issued ID card number. </div><ul><li>If you do not have one of these ID numbers, provide the last four digits of your Social Security number (SSN).</li><li>If you do not have one of these ID numbers or SSN, you will still be able to register to vote. </li></ul><div>You must also provide Proof of Residence documentation when registering. All Proof of Residence documents must show your name and current residential address. Acceptable forms include but are not limited to:</div><ul><li>current and valid State of Wisconsin Driver License or State ID card</li><li>any official ID card or license issued by the Wisconsin government</li></ul><div>Find additional forms of proof of residence from the <a href="https://elections.wi.gov/Register">Wisconsin Election Commission</a>. </div></li></ul></li><li>Box 7 - Choice of Party: Wisconsin does NOT require that you register with a party to participate in partisan primary elections.</li><li>Box 8 - Race or Ethnic Group: Not required.</li><li>Review the "Who can register to vote?" section and check that you''re eligible.</li><li>Sign the form.</li><li>Send the completed form to your <a href="https://myvote.wi.gov/en-US/MyMunicipalClerk">local election office</a></li></ul><div></div><h4>What if I''m registering to vote for the first time in my jurisdiction and mailing this registration application?</h4><ul></ul>'
              electionDayRegistration:
                question: Can I register to vote on Election Day?
                answer: Wisconsin <em>does</em> offer in person registration on Election Day.
              inPersonRegistration:
                question: Can I submit voter registration forms in person?
                answer: <ul><li>You can also register to vote in person. Contact your <a href="https://myvote.wi.gov/en-US/MyMunicipalClerk">local election office</a> for information on when and where to register to vote.</li><li>You can also register to vote and cast a ballot in person on Election Day.</li><li>Learn more by visiting the <a href="https://elections.wi.gov/">Wisconsin Elections Commission</a>'s website or contacting your <a href="https://myvote.wi.gov/en-US/MyMunicipalClerk">local election office</a>.</li></ul>
              datesAndDeadlines:
                question: What are key deadlines for this election?
                answer: <div><div class="subsection"><span content="Registration deadlines"></span><span content="Registration deadlines"></span><span><span content="Wisconsin"></span></span><span class="bold" content="2000-02-02"></span><span class="bold" content="2000-02-02"></span><h4 class="bold">Registration deadlines</h4><ul><li><span content="Registration deadlines"></span><span><a href="https://myvote.wi.gov/en-us/FindMyPollingPlace"><span>In-person at voting location on Election Day</span></a><span>:</span><span content="2023-02-21"><span content="2023-02-21">Feb 21</span></span><span><span content="Wisconsin"></span></span></span></li><li><span content="Registration deadlines"></span><span><a href="https://myvote.wi.gov/en-us/RegisterToVote"><span>Online</span></a><span>:</span><span content="2023-02-01"><span content="2023-02-01">Feb 1</span></span><span><span content="Wisconsin"></span></span></span></li><li><span content="Registration deadlines"></span><span><a href="https://elections.wi.gov/Register#230548828-3947500893"><span>By mail (postmarked by)</span></a><span>:</span><span content="2023-02-01"><span content="2023-02-01">Feb 1</span></span><span><span content="Wisconsin"></span></span></span></li></ul></div><div class="subsection"><span content="Absentee ballot deadlines"></span><span content="Absentee ballot deadlines"></span><span><span content="Wisconsin"></span></span><span class="bold" content="2000-02-02"></span><span class="bold" content="2000-02-02"></span><h4 class="bold">Absentee ballot deadlines</h4><ul><li><span content="Absentee ballot deadlines"></span><span><a href="https://myvote.wi.gov/en-us/Vote-Absentee-By-Mail"><span>Request ballot</span></a><span>:</span><span content="2023-02-16"><span content="2023-02-16">Feb 16</span></span><span><span content="Wisconsin"></span></span></span></li></ul></div><div class="subsection"><span content="Voting deadlines"></span><span content="Voting deadlines"></span><span><span content="Wisconsin"></span></span><span class="bold" content="2000-02-02"></span><span class="bold" content="2000-02-02"></span><h4 class="bold">Voting deadlines</h4><ul><li><span content="Voting deadlines"></span><span><a href="https://myvote.wi.gov/en-US/Vote-Absentee-In-Person"><span>Early voting (in-person absentee voting)</span></a><span>:</span><a href="https://myvote.wi.gov/en-US/Vote-Absentee-In-Person"><span>varies by location</span></a><span content="2023-02-21"></span><span><span content="Wisconsin"></span></span></span></li><li><span content="Voting deadlines"></span><span><a href="https://myvote.wi.gov/en-us/FindMyPollingPlace"><span>In-person</span></a><span>:</span><span content="2023-02-21"><span content="2023-02-21">Feb 21</span></span><span><span content="Wisconsin"></span></span></span></li></ul></div></div>
              voterId:
                question: Do I need to bring an ID to vote in person?
                answer: '<div>You will need to show a photo ID to vote in Wisconsin. </div><br><div>An

                  acceptable photo ID is not required to contain a current address. These photo

                  IDs are acceptable and can be unexpired or expired after the date of the most

                  recent general election:<ul>  <li> Wisconsin DOT-issued driver license, even

                  if driving privileges are revoked or suspended, with or without a star in the

                  right-hand corner</li><li> Wisconsin DOT-issued identification card, with or

                  without a star in the right-hand corner</li><li>  Wisconsin DOT-issued identification

                  card or driver license without a photo issued under the religious exemption</li><li>

                  military ID card issued by a U.S. uniformed service</li><li> U.S. passport</li></ul></div><br><div>The

                  following photo ID is also acceptable for voting purposes, and can be expired

                  before the date of the most recent general election:<ul>  <li> identification

                  card issued by a federally recognized Indian tribe in Wisconsin</li><li> photo

                  identification card issued by a Wisconsin accredited university or college that

                  contains date of issuance, expiration date no later than two years after issuance,

                  and signature of student (must be accompanied by a separate document that proves

                  enrollment if the student ID is expired)</li></ul></div><br><div>The following

                  photo IDs are also acceptable for voting purposes, but must be unexpired:<ul>

                  \ <li> veteran''s photo identification card issued by the Veterans Health Administration

                  of the federal Department of Veterans Affairs</li><li> certificate of naturalization

                  that was issued not earlier than two years before the date of an election at

                  which it is presented</li><li> driving receipt issued by Wisconsin DOT (valid

                  for 45 days)</li><li> identification card receipt issued by Wisconsin DOT (valid

                  for 45 days)</li><li> temporary identification card receipt issued by Wisconsin

                  DOT through the Identification Petition Process (IDPP) (valid for 60 days)</li></ul></div><br><div>Voters

                  without ID: If you are unable to provide photo ID, you will be able to vote

                  a provisional ballot. Your provisional ballot will not count unless you provide

                  an acceptable photo ID to the poll workers by 8:00 p.m. on Election Day or to

                  your municipal clerk in person by 4:00 p.m. the Friday after the election.</div>

                  '
              whatsOnTheBallot:
                question: How do I see what's on my ballot?
                answer: ' '
              militaryAndOverseas:
                question: How do I vote if I'm in the military or live overseas?
                answer: '<div>Active-duty military, their families, and overseas citizens can register to vote and request their absentee ballot using the Federal Post Card Application (FPCA). The FPCA process is done by mail, but your state may offer other options to request and return ballots. Please <a href="https://www.fvap.gov/search-offices">contact your local election office</a> for more information about delivery and return methods, including email, fax, and state online portals. To follow the FPCA process:</div><ol><li>Fill out the <a href="https://www.fvap.gov/fpca-privacy-notice">Federal Post Card Application (FPCA)</a>, or <a href="https://www.fvap.gov/uploads/FVAP/Forms/fpca.pdf">download a copy</a>. Your local election office may have questions, so please provide an email address or phone number where they can reach you.</li><li>Send the application to your <a href="https://www.fvap.gov/search-offices">local election office</a>.</li><li>It is never too early to submit an FPCA! Please do so as soon as possible.</li><li>Please fill out and send back your ballot as soon as you receive it.</li><li>States begin mailing absentee ballots at least 45 days before Election Day. If you haven''t received your ballot by 30 days before Election Day, contact your <a href="https://www.fvap.gov/search-offices">local election office</a>.</li></ol><div>If after submitting your FPCA, your ballot does not arrive, contact your local election office first. Then: </div><ul><li>You can still vote using the <a href="https://www.fvap.gov/fwab-privacy-notice">Federal Write-In Absentee Ballot (FWAB)</a>. Print, sign, and mail your FWAB to your <a href="https://www.fvap.gov/search-offices">local election office</a>.</li><li>If you mail a FWAB and then receive your regular absentee ballot, you should complete and mail your absentee ballot also. Election officials will ensure that only one ballot is counted.</li></ul><div>The <a href="https://www.fvap.gov/wisconsin">Federal Voting Assistance Program</a> offers additional information on military and overseas voting in Wisconsin. You can also call <a href="tel:+18004388683">1-800-438-VOTE</a> (8683) or email <a href="mailto:vote@fvap.gov">vote@fvap.gov</a></div>'
              checkRegistration:
                question: How can I check my voter registration status?
                answer: You can look up your voter registration record and verify that your information is correct using <a href="https://myvote.wi.gov/en-us/MyVoterInfo">Wisconsin's voter registration lookup tool</a>.
              stateContactInfo:
                question: How do I contact my state election office?
                answer: '<div><a href="https://elections.wi.gov/">Elections Commission</a></div><ul><li><a href="https://www.google.com/maps/place/201%20West%20Washington%20Avenue,%20Second%20Floor%20Madison,%20WI%2053703">201 West Washington Avenue, Second Floor Madison, WI 53703</a></li><li>Telephone: <a href="tel:(608)%20266-8005">(608) 266-8005</a></li></ul>'
              localContactInfo:
                question: How do I contact my local election office?
                answer: ' Visit your states site to find your<strong> </strong><a href="https://myvote.wi.gov/en-US/MyMunicipalClerk">local election office</a>.'
          - ocdId: ocd-division/country:us/state:ca/county:marin/school_district:novato_unified
            createdAt: '2023-02-22T15:54:43.000-05:00'
            updatedAt: '2023-03-05T23:31:00.000-05:00'
            date: '2023-03-07'
            description: Novato Unified School District Special Tax Election
            type: school
            pollingLocationUrl: https://voterstatus.sos.ca.gov
            canonicalUrl: https:/voting.democracy.works/en/elections/ca/county/marin/school_district/novato_unified/2023-03-07.html
            website: https://www.marincounty.org/depts/rv/election-info/march-7-2023
            guidancePhase: past
            population: 62,142
            voting:
              inPersonVotingAvailable: true
              mailBallotsSentAutomatically: true
              early:
                url: https://www.marincounty.org/depts/rv/election-info/march-7-2023/page-data/tabs-collection/vote-centers-and-drop-boxes/votecenters
                startDate: '2023-02-06'
                endDate: '2023-03-06'
                varies: null
              byMail:
                idInstructions: null
                explainerUrl: null
                allMail:
                  ballotInfoUrl: null
                  ballotSendStartDate: null
                  ballotSendEndDate: null
                  ballotReceiveExpectedStartDate: null
                  ballotReceiveExpectedEndDate: null
                deadline:
                  postmarkedOrReceived: null
                  receivedNoLaterThan:
                    date: null
                    timestamp: null
                    description: null
                  returnInPerson:
                    date: null
                    timestamp: null
                    description: null
                  returnByMail:
                    date: null
                    timestamp: null
                    description: null
                  ballotRequest:
                    postmarkedOrReceived: null
                    date: null
                    timestamp: null
                    description: null
              inPerson:
                idRequiredAllVoters: false
                idInstructions: 'If you choose to vote in person and youve voted in California

                  before, you dont need to show ID.<br><br>If youre a first time voter in a

                  federal election who registered by mail and didnt include your drivers license

                  number, California ID number, or the last four digits of your Social Security

                  number on your registration, you may be asked to provide ID when you vote.<br>Acceptable

                  forms include: copy of a recent utility bill; sample ballot booklet you received

                  from your county elections office or another document sent to you by a government

                  agency; US passport; driver''s license; official state identification card;

                  student identification card showing your name and photograph<br><br>Voters without

                  ID: If you are unable to provide ID, you will be able to vote a provisional

                  ballot.

                  '
                electionDay:
                  closing:
                    timestamp: null
                    description: null
            registration:
              explainerUrl: null
              inPerson:
                atPollingPlaceOnElectionDay: null
                localSamedayRegistrationAuthorityLookupUrl: null
                deadline:
                  date: '2023-03-07'
                  timestamp: null
                  description: null
              online:
                url: https://registertovote.ca.gov/?t=s
                instructions: 'You should know: you will need a California-issued driver license or California identification card number, the last four digits of your Social Security number, and consent to the use of your DMV-stored digital signature to use Californias online voter registration system. If you dont have a California-issued ID or dont want to provide consent for the use of your digital signature, you can still register by mail to vote.'
                deadline:
                  date: '2023-02-20'
                  timestamp: null
                  description: null
              byMail:
                idInstructions: When you register to vote, you must provide your California driver's license or California identification card number, if you have one. If you do not have a driver's license or ID card, you must provide the last four digits of your Social Security number (SSN). If you<br>do not include this information, you will be required to provide identification when you vote if it is your first time voting in a federal election.
                signatureInstructions: To register in California you must:<br>be a United States citizen<br>be a resident of California<br>be at least 18 years old or older on Election Day <br>not be currently serving a state or federal prison term for the conviction of a felony<br>not be currently found to be mentally incompetent to vote by a court
                newVoterInstructions: If you are registering to vote for the first time in your jurisdiction and are mailing this registration application, Federal law requires you to show proof of identification the first time you vote. Proof of identification includes:<br>A current and valid photo identification or<br>A current utility bill, bank statement, government check, paycheck or government document that shows your name and address.<br>More information <a href="https://www.eac.gov/sites/default/files/eac_assets/1/6/Federal_Voter_Registration_ENG.pdf">here</a>.
                deadline:
                  date: '2023-02-20'
                  timestamp: null
                  description: null
                  postmarkedOrReceived: postmarked
            questionAndAnswer:
              keyChangesElection:
                question: null
                answer: null
              voteInPerson:
                question: null
                answer: null
              whatsOnTheBallot:
                question: null
                answer: null
              stateContactInfo:
                question: null
                answer: null
              voteByMail:
                question: How do I vote by mail?
                answer: <div>California mails a ballot to every registered voter a few weeks before the election. Keep an eye on the mailbox, and be sure to mail it back or drop it in a drop-box before Election Day.</div><h4>What should I do if I dont get my ballot? </h4><div>If you dont receive your ballot in the mail, then contact your <a href="https://www.sos.ca.gov/elections/voting-resources/county-elections-offices/">local election office</a>. </div><h4>How do I return my ballot? </h4><ul><li>Read the instructions carefully on how to mark and return your ballot. After you have voted, insert your ballot in the envelope provided, making sure you complete all required information on the envelope.</li><li>You may return your voted ballot by mail, in person, or to a drop box. </li><li>If you are returning your ballot by mail, it must be postmarked on or before Election Day and received by your <a href="https://www.sos.ca.gov/elections/voting-resources/county-elections-offices/">local election office</a> no later than 7 days after Election Day. <a href="https://about.usps.com/what/government-services/election-mail/">USPS recommends</a> that voters mail their completed ballots at least one week before the due date. <a href="https://tools.usps.com/find-location.htm">Find a USPS location near you</a>.</li><li>If you are returning your ballot in person or dropping it in a drop box, it must be delivered no later than the close of polls at 8:00 p.m. on Election Day. Find your closest drop box on <a href="https://voterstatus.sos.ca.gov">California's site</a>.</li><li>Anyone may return your ballot for you, as long as they do not get paid on a per ballot basis. In order for your ballot to be counted, you must fill out the authorization section found on the outside of your ballot envelope. </li></ul><h4>What do I need to do if Ive moved? </h4><div>Whats on your ballot depends on where you live, so your voter registration is tied to your exact address. If youve moved, you need to re-register with your new address.</div><div> <h4>How can I check the status of my ballot?</h4><div>You can check the status of your ballot on <a href="https://www.sos.ca.gov/elections/ballot-status/wheres-my-ballot/">Californias site</a>.</div>  </div>
              keyChanges:
                question: What key changes should voters know about?
                answer: <div>Key changes to voting requirements in California:</div><ul><li>California now conducts all elections primarily by mail. All active registered voters will receive a mail ballot.</li></ul><div>Learn more by visiting the <a href="https://www.sos.ca.gov/elections/">California Secretary of State</a>'s website or contacting your <a href="https://www.sos.ca.gov/elections/voting-resources/county-elections-offices/">local election office</a>.</div>
              whoCanVote:
                question: Who can register to vote?
                answer: <div>To register in California you must:<ul>  <li>be a United States citizen</li><li>be a resident of California</li><li>be at least 18 years old or older on Election Day </li><li>not be currently serving a state or federal prison term for the conviction of a felony</li><li>not be currently found to be mentally incompetent to vote by a court</li></ul></div>
              onlineVoterRegistration:
                question: Can I register to vote online?
                answer: '<ul><li>California offers <a href="https://registertovote.ca.gov/?t=s">online voter registration</a>.</li><li>You should know: you will need a California-issued driver license or California identification card number, the last four digits of your Social Security number, and consent to the use of your DMV-stored digital signature to use Californias online voter registration system. If you dont have a California-issued ID or dont want to provide consent for the use of your digital signature, you can still register by mail to vote.<br><br><br></li></ul> '
              byMailRegistration:
                question: Can I submit voter registration forms by mail?
                answer: '<div><div><h4>Use the National Voter Registration Form</h4><ol><li>Print and fill out the <a href="https://www.eac.gov/assets/1/6/Federal_Voter_Registration_ENG.pdf"> National Voter Registration Form.</a></li><li>Box 6 - ID Number: When you register to vote, you must provide your California driver''s license or California identification card number, if you have one. If you do not have a driver''s license or ID card, you must provide the last four digits of your Social Security number (SSN). If youdo not include this information, you will be required to provide identification when you vote if it is your first time voting in a federal election.</li><li>Box 7 - Choice of Party: California does NOT require that you register with a party to participate in partisan primary elections. However some parties do not allow unaffiliated voters to participate in their partys presidential, local, or county committee primary elections.</li><li>Box 8 - Race or Ethnic Group: Leave blank. This information is not required.</li><li>Review the "Who can register to vote?" section above and check that you''re eligible.</li><li>Sign the form.</li><li>Send the completed form to your <a href="https://www.sos.ca.gov/elections/voting-resources/county-elections-offices/">local election office</a></li><li>If you are registering to vote for the first time in your jurisdiction and are mailing this registration application, Federal law requires you to show proof of identification the first time you vote. Proof of identification includes:<ul>  <li>A current and valid photo identification or</li><li>A current utility bill, bank statement, government check, paycheck or government document that shows your name and address.</li><li>More information <a href="https://www.eac.gov/sites/default/files/eac_assets/1/6/Federal_Voter_Registration_ENG.pdf">here</a>.</li></ul></li></ol></div></div>'
              electionDayRegistration:
                question: Can I register to vote on Election Day?
                answer: California <em>does</em> offer in person registration on Election Day.
              inPersonRegistration:
                question: Can I submit voter registration forms in person?
                answer: <ul><li>You can also register to vote in person. Contact your <a href="http://www.sos.ca.gov/elections/voting-resources/county-elections-offices/">local election office</a> for information on when and where to register to vote. Conditional voter registration is a safety net for Californians who miss the deadline to register to vote or update their voter registration information. Voters can use the conditional voter registration process from the day after the deadline all the way through Election Day. Eligible citizens can go to their county election office, polling place, or vote center to register and vote conditionally. These ballots will be processed once the county elections office has completed the voter registration verification process.</li><li>You can also register to vote and cast a ballot in person on Election Day.</li><li>Learn more by visiting the <a href="https://www.sos.ca.gov/elections/">California Secretary of State</a>'s website or contacting your <a href="https://www.sos.ca.gov/elections/voting-resources/county-elections-offices/">local election office</a>.</li></ul>
              datesAndDeadlines:
                question: What are key deadlines for this election?
                answer: <div><div class="subsection"><span content="Registration deadlines"></span><span content="Registration deadlines"></span><span><span content="California"></span></span><span class="bold" content="2000-02-02"></span><span class="bold" content="2000-02-02"></span><h4 class="bold">Registration deadlines</h4><ul><li><span content="Registration deadlines"></span><span><a href="https://www.marincounty.org/depts/rv/election-info/march-7-2023/page-data/tabs-collection/vote-centers-and-drop-boxes/votecenters"><span>In person during early voting</span></a><span>:</span><span content="2023-02-06">Feb 6 - <span content="2023-03-06">Mar 6</span></span><span><span content="California"></span></span></span></li><li><span content="Registration deadlines"></span><span><a href="https://www.sos.ca.gov/elections/voting-resources/county-elections-offices/"><span>In-person at local election office on Election Day</span></a><span>:</span><span content="2023-03-07"><span content="2023-03-07">Mar 7</span></span><span><span content="California"></span></span></span></li><li><span content="Registration deadlines"></span><span><a href="https://registertovote.ca.gov/?t=s"><span>Online</span></a><span>:</span><span content="2023-02-20"><span content="2023-02-20">Feb 20</span></span><span><span content="California"></span></span></span></li><li><span content="Registration deadlines"></span><span><a href="https://www.sos.ca.gov/elections/voter-registration"><span>By mail (postmarked by)</span></a><span>:</span><span content="2023-02-20"><span content="2023-02-20">Feb 20</span></span><span><span content="California"></span></span></span></li></ul></div><div class="subsection"><span content="Voting deadlines"></span><span content="Voting deadlines"></span><span><span content="California"></span></span><span class="bold" content="2000-02-02"></span><span class="bold" content="2000-02-02"></span><h4 class="bold">Voting deadlines</h4><ul><li><span content="Voting deadlines"></span><span><a href="https://www.marincounty.org/depts/rv/election-info/march-7-2023/page-data/tabs-collection/vote-centers-and-drop-boxes/votecenters"><span>Early voting</span></a><span>:</span><span content="2023-02-06">Feb 6 - <span content="2023-03-06">Mar 6</span></span><span><span content="California"></span></span></span></li></ul></div></div>
              voterId:
                question: Do I need to bring an ID to vote in person?
                answer: '<div>If you choose to vote in person and youve voted in California before, you dont need to show ID.</div><br><div>If youre a first time voter in a federal election who registered by mail, and didnt include your drivers license number, California ID number, or the last 4 digits of your Social Security number on your registration, you may be asked to provide ID when you vote.</div><br><div>Acceptable forms include:<ul>  <li> copy of a recent utility bill</li><li> sample ballot booklet you received from your county elections office or another document sent to you by a government agency</li><li> US passport</li><li> driver license</li><li> official state identification card</li><li> student identification card showing your name and photograph</li></ul></div><br><div>Voters without ID: If you are unable to provide ID, you will be able to vote a provisional ballot.</div>'
              militaryAndOverseas:
                question: How do I vote if I'm in the military or live overseas?
                answer: '<div>Active-duty military, their families, and overseas citizens can register to vote and request their absentee ballot using the Federal Post Card Application (FPCA). The FPCA process is done by mail, but your state may offer other options to request and return ballots. Please <a href="https://www.fvap.gov/search-offices">contact your local election office</a> for more information about delivery and return methods, including email, fax, and state online portals. To follow the FPCA process:</div><ol><li>Fill out the <a href="https://www.fvap.gov/fpca-privacy-notice">Federal Post Card Application (FPCA)</a>, or <a href="https://www.fvap.gov/uploads/FVAP/Forms/fpca.pdf">download a copy</a>. Your local election office may have questions, so please provide an email address or phone number where they can reach you.</li><li>Send the application to your <a href="https://www.fvap.gov/search-offices">local election office</a>.</li><li>It is never too early to submit an FPCA! Please do so as soon as possible.</li><li>Please fill out and send back your ballot as soon as you receive it.</li><li>States begin mailing absentee ballots at least 45 days before Election Day. If you haven''t received your ballot by 30 days before Election Day, contact your <a href="https://www.fvap.gov/search-offices">local election office</a>.</li></ol><div>If after submitting your FPCA, your ballot does not arrive, contact your local election office first. Then: </div><ul><li>You can still vote using the <a href="https://www.fvap.gov/fwab-privacy-notice">Federal Write-In Absentee Ballot (FWAB)</a>. Print, sign, and mail your FWAB to your <a href="https://www.fvap.gov/search-offices">local election office</a>.</li><li>If you mail a FWAB and then receive your regular absentee ballot, you should complete and mail your absentee ballot also. Election officials will ensure that only one ballot is counted.</li></ul><div>The <a href="https://www.fvap.gov/california">Federal Voting Assistance Program</a> offers additional information on military and overseas voting in California. You can also call <a href="tel:+18004388683">1-800-438-VOTE</a> (8683) or email <a href="mailto:vote@fvap.gov">vote@fvap.gov</a></div>'
              checkRegistration:
                question: How can I check my voter registration status?
                answer: You can look up your voter registration record and verify that your information is correct using <a href="https://voterstatus.sos.ca.gov">California's voter registration lookup tool</a>.
              localContactInfo:
                question: How do I contact my local election office?
                answer: ' Visit your states site to find your<strong> </strong><a href="https://www.sos.ca.gov/elections/voting-resources/county-elections-offices/">local election office</a>.'
        pagination:
          totalRecordCount: 2
          currentPage: 1
          pageSize: 10
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
