openapi: 3.0.2
info:
  title: Democracy Works API
  version: '2.0'
  description: >
    # Introduction


    The Democracy Works Elections API provides your application with
    comprehensive elections data and voting guidance, surfacing our unparalleled
    coverage of upcoming local, state, and federal elections. Power your
    platforms, apps, reminders, outreach campaigns, and much more.


    Join the community of developers in our [Google
    Group](https://groups.google.com/a/democracy.works/g/democracy-works-data)

    for updates about our data and elections.


    ## Authentication

    Access to the Democracy Works Elections API requires authentication. To
    access the DW API, include an X-API-Key header with each API request. The
    value of that header should be your API key. For example:


    ```sh

    curl "https://api.democracy.works/v2/elections" \
        --header "X-API-KEY: <YOUR API KEY>"
    ```


    For pricing information and to obtain a test key, please [contact
    us](https://data.democracy.works/api-signup).


    ## Base URL

    The base URL for all API endpoints is: https://api.democracy.works/v2


    ## Support

    If you have any further questions or issues, please contact us at
    partnerships@democracy.works.


    ## Data


    Data is captured in two entities, an __Election__ and an __Authority__. The
    __Election__ has election-specific dates and deadlines, URLs for voters to
    get more information and take action, and detailed guidance in both English
    and Spanish. The __Authority__ includes statewide evergreen information and
    instructions on how to register and vote for each state, as well as election
    office contact information. 


    # Open Civic Data IDs (OCD-IDs)


    We use Open Civic Data IDs
    [(OCD-IDs)](https://opencivicdata.info/en/latest/ocdids.html) 

    throughout the API to describe entities and filter results. 


    OCD-IDs start with what is being identified, and in our case it is always 

    `ocd-division`.


    Since all authorities are, or are contained within, a state and all
    elections 

    are run by some authority, almost every OCD-ID in our system starts with 

    `ocd-division/country:us/state:__`, where `__` is a two-letter state postal
    code.


    The only exception to this is for the District of Columbia, which has the
    OCD-ID 

    `ocd-division/country:us/district:dc`.


    ## OCD-ID on the Authority

    The OCD-ID associated with an authority describes the political district
    covered

    by an authority. Authorities are uniquely identifiable by the associated
    OCD-ID.


    For example:

    - The OCD-ID `ocd-division/country:us/state:ak/place:anderson` is
    associated 
      with the authority for Anderson, Alaska.
    - The OCD-ID
    `ocd-division/country:us/state:ny/county:albany/council_district:2` 
      is not associated with an authority because Albany's 2nd Ward is a legislative 
      ward which does not run its own elections.

    ## OCD-ID on the Election

    The OCD-ID associated with an election describes the highest-level district 

    in which all voters have something to vote for on the ballot on Election
    Day. 

    Elections always have an associated OCD-ID, but are not uniquely

    identifiable by the associated OCD-ID.


    For example:

    - If there is a mayoral race in Philadelphia as well as a state-wide 

    measure contest in Pennsylvania on a given day, there will be one election 

    entity with OCD-ID `ocd-division/country:us/state:pa`.

    - If there is only a mayoral race in Pittsburgh in Allegheny County on a
    given 

    day, there will be an election entity with OCD-ID 

    `ocd-division/country:us/state:pa/county:allegheny`.


    # Standard Parameters

    Functionality shared between API endpoints is noted here. Each endpoint will

    specify whether it supports the following functionality.


    ## Pagination

    Any endpoint that returns multiple results supports pagination. An endpoint
    that 

    supports pagination accepts two related query parameters:

    - `pageSize`
      - Specifies the number of results requested. Defaults to 10 if not specified. The maximum value is 100.
      - Example: `pageSize=15`
    - `page`
      - Specifies the page to return, based on `pageSize`. Defaults to 1 if not specified.
      - Example: `page=2`

    You can send none, one, or both of these parameters. Each endpoint that
    supports

    pagination will have a `pagination` field in the response, which details
    what

    page of information is returned, what page size was used for the request,
    and the

    total number of results found. 


    ## Localization

    Some endpoints support localization. An endpoint that supports localization
    accepts a

    header parameter:

    - `Accept-Language`
      - Specifies the language tag for localization. Accepted values are `en`, `en-US`, `es`, and `es-US`.
      - Example: `Accept-Language: es`

    Not all fields on the response of a localized endpoint are localized. Each
    field that supports localization

    will have a `Localized` tag on its field description.


    If no localization in the requested language is found,

    localized fields will return `null`.


    ## Content Formatting

    Some endpoints support content formatting. An endpoint that supports
    formatting accepts a

    query parameter:

    - `contentFormatType`
      - Specifies the format of certain fields in the response.
        Accepted values are `html` and `json`. Defaults to `html` if not specified.
      - Example: `contentFormatType=json`

    Not all fields on the response of a formatted endpoint are formatted. 

    Formatting is generally supported on prose-like fields, including Question
    and Answer content and most instruction fields.

    Each field that supports formatting will have a `Formatted` tag on its field
    description.


    The `json`-formatted content is the content represented as an
    [AST](https://en.wikipedia.org/wiki/Abstract_syntax_tree).


    ## Fields

    Some endpoints support field masking to specify a list of fields to include
    in the API response. This helps to avoid unnecessary computation and improve
    performance. An endpoint that supports field masking accepts a

    query parameter:

    - `fields`
      - Specifies the symbolic field paths to include in the response, provided as comma-separated list. See more about [Field Masks](https://protobuf.dev/reference/protobuf/google.protobuf/#field-mask).
      - Example: `fields="ocdId,date,contact.email"`

    Paths are validated against all possible fields, and providing an invalid
    path will result in a 400 response.
servers:
  - url: https://api.democracy.works/v2
paths:
  /authorities/state/{stateCode}:
    get:
      operationId: getStateAuthorities
      summary: State authorities
      description: >
        This endpoint includes statewide evergreen information and instructions
        on how to register and vote for each state (and Washington, D.C.). It
        includes contact information for state election authorities,
        registration methods, voting methods, state-specific URLs to
        authoritative government websites, and more. 


        Authorities do not contain election-specific information such as dates,
        and while we closely monitor this data for changes and update when
        needed, Authorities information generally does not change from election
        to election.


        Authorities are returned sorted alphabetically by OCD-ID. 


        Supports standard the following parameters: see
        __[Pagination](#section/Standard-Parameters/Pagination)__,
        __[Localization](#section/Standard-Parameters/Localization)__, and
        __[Content
        Formatting](#section/Standard-Parameters/Content-Formatting)__.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: stateCode
          in: path
          schema:
            type: string
            description: >
              The 2-letter postal code of the state to get top-level authority
              for. DC is accepted as well.


              If no value is provided, it will request all top-level authorities
              (51 total). If a value

              is provided, at most one authority will be returned.
            example: ny
          required: false
        - name: includeQuestionAndAnswer
          in: query
          schema:
            type: boolean
            description: >-
              Whether Question and Answer content should be included for each
              returned election. Defaults to false if not specified.  Response
              fields are formattable with the __[content
              formatting](#section/Standard-Parameters/Content-Formatting)__
              standard parameter.
            example: true
          required: false
      responses:
        '200':
          description: Authorities fetched by query.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      authorities:
                        type: array
                        items:
                          $ref: '#/components/schemas/authority'
                  pagination:
                    $ref: '#/components/schemas/pagination'
              examples:
                sampleStateAuthoritiesResponse:
                  $ref: '#/components/examples/stateAuthorities'
        '400':
          $ref: '#/components/responses/badRequestError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /authorities:
    get:
      operationId: getAuthorities
      summary: All authorities
      description: >
        This endpoint includes all statewide and local authorities that
        correspond to a given address or state parameter. 


        The statewide authorities include evergreen information and guidance on
        how to register and vote in that state, as well as contact information
        for state election authorities. Local authorities provide contact
        information for the local election office. 


        Authorities do not contain election-specific information such as dates,
        and while we closely monitor this data for changes and update when
        needed, Authorities information generally does not change from election
        to election.


        Authorities are returned sorted alphabetically by OCD-ID. 


        Supports the following standard parameters: see
        __[Pagination](#section/Standard-Parameters/Pagination)__,
        __[Localization](#section/Standard-Parameters/Localization)__, and
        __[Content
        Formatting](#section/Standard-Parameters/Content-Formatting)__.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: address
          in: query
          schema:
            type: string
            description: The address get authorities for.
            example: 1101 Biscayne Blvd, Miami, FL 33132
          required: false
        - name: stateCode
          in: query
          schema:
            type: string
            description: >
              The 2-letter postal code to get authorities within a respective
              state. DC is accepted as well.
            example: CA
          required: false
        - name: includeQuestionAndAnswer
          in: query
          schema:
            type: boolean
            description: >-
              Whether Question and Answer content should be included for each
              returned election. Defaults to false if not specified. Response
              fields are formattable with the __[content
              formatting](#section/Standard-Parameters/Content-Formatting)__
              standard parameter.
            example: true
          required: false
      responses:
        '200':
          description: >-
            Authorities fetched by query. Local (non-state) authorities will
            only have required fields.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      authorities:
                        type: array
                        items:
                          $ref: '#/components/schemas/authority'
                  pagination:
                    $ref: '#/components/schemas/pagination'
              examples:
                sampleAuthoritiesResponse:
                  $ref: '#/components/examples/allAuthorities'
        '400':
          $ref: '#/components/responses/badRequestError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /authorities/local:
    get:
      operationId: getLocalAuthorities
      summary: Local authorities
      description: >
        This endpoint provides contact information for over 8,500 local election
        offices at the county and municipal levels.


        Authorities are returned sorted alphabetically by OCD-ID. 


        Supports the following standard parameters: see
        __[Pagination](#section/Standard-Parameters/Pagination)__ and
        __[Localization](#section/Standard-Parameters/Localization)__.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: address
          in: query
          schema:
            type: string
            description: The address get authorities for.
            example: 1101 Biscayne Blvd, Miami, FL 33132
          required: false
        - name: stateCode
          in: query
          schema:
            type: string
            description: >
              The 2-letter postal code to get authorities within a respective
              state.
            example: CA
          required: false
      responses:
        '200':
          description: >-
            Local authorities fetched. As all authorities will be local
            (non-state), they will only have required fields.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      authorities:
                        type: array
                        items:
                          $ref: '#/components/schemas/authority'
              examples:
                sampleLocalAuthoritiesResponse:
                  $ref: '#/components/examples/localAuthorities'
        '400':
          $ref: '#/components/responses/badRequestError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /elections:
    get:
      operationId: getElections
      summary: Elections
      description: >
        This endpoint has election-specific dates and deadlines, URLs for voters
        to get more information and take action, and detailed guidance in both
        English and Spanish. The information included reflects the voter
        registration and voting methods available in the state for that
        election, such as online, in-person, and by-mail registration as well as
        by-mail, in-person, and early voting. The election also contains some
        information from the related state authority. The default is to return
        all elections, though you can limit the response to upcoming elections
        through the use of the start date parameter. Elections are returned
        sorted chronologically by election date. 


        After an election is confirmed to be occurring, Democracy Works surfaces
        information about an election as details become available. An elections
        guidance phase describes the state of the currently available guidance.


        A `past` election is an election whose election date is in the past. A
        `known` election is an upcoming election for which key details and
        deadlines have yet to be released. An `active` election is an upcoming
        election for which details have been vetted and confirmed by the
        Democracy Works team.


        Elections are returned sorted chronologically by election date. 


        Supports the following standard parameters: see
        __[Pagination](#section/Standard-Parameters/Pagination)__,
        __[Localization](#section/Standard-Parameters/Localization)__,
        __[Content
        Formatting](#section/Standard-Parameters/Content-Formatting)__, and
        __[Fields](#section/Standard-Parameters/Fields)__.


        ### Ballot Measure Information


        Information about measures on the ballot are available for the following
        elections:

        - All federal elections

        - All statewide elections


        Ballot measure information is not included in the default response for
        an election. For ballot measure information to be included with the
        response, include the `includeBallotData` parameter with a value of
        `true`.


        Ballot data is sourced from [Ballotpedia](https://ballotpedia.org/).


        ### Candidate and Contest Information


        For the November 5, 2024 elections, our ballot information will include
        the following:

        - All federal contests and candidates, including president, vice
        president, senate, and house of representatives

        - All state contests and candidates, including governor, treasurer,
        secretary of state, state legislative seats, state supreme court,
        district court, and court of appeals

        - Local candidates and contests including mayor, county judge, county
        clerk, commissioners, and city councils in the top 100 cities by
        population, plus state capitals and school board elections in 475
        districts
            - Local coverage may be limited by mapping constraints and in states where primaries have not yet been held.

        Ballot data is sourced from [Ballotpedia](https://ballotpedia.org/).
      security:
        - ApiKeyAuth: []
      parameters:
        - name: address
          in: query
          schema:
            type: string
            description: >-
              If sending an address as a single string, the street, city, state,
              and zip code of an address to get elections for. Using separate
              parameters for each address element (as shown below) is preferred.
            example: 813%20Howard%20Street%20Oswego%20NY%2013126
          required: false
        - name: addressStreet
          in: query
          schema:
            type: string
            description: >-
              The street to get elections for in conjunction with other required
              address parameters.  Include Apt numbers or other additional
              information.
            example: 813%20Howard%20Street
          required: false
        - name: addressCity
          in: query
          schema:
            type: string
            description: >-
              The city to get elections for in conjunction with other required
              address parameters.
            example: Oswego
          required: false
        - name: addressStateCode
          in: query
          schema:
            type: string
            description: >-
              The 2 letter postal code to get elections for in conjunction with
              other required address parameters.  DC is also accepted.
            example: NY
          required: false
        - name: addressZip
          in: query
          schema:
            type: string
            description: >-
              The zip code to get elections for in conjunction with other
              required address parameters.
            example: '13126'
          required: false
        - name: addressZip4
          in: query
          schema:
            type: string
            description: >-
              OPTIONAL. The zip plus 4 to get elections for in conjunction with
              other required address parameters.
            example: '9029'
          required: false
        - name: stateCode
          in: query
          schema:
            type: string
            description: >-
              The 2-letter postal code to get elections within a respective
              state. DC is accepted as well.
            example: CA
          required: false
        - name: ocdId
          in: query
          schema:
            type: string
            description: >-
              The OCD-ID(s) of a political division; elections that apply to a
              voter in this political division will be returned.  This parameter
              may be provided multiple times to return all elections with any of
              the OCD IDs provided.
            example: ocd-division%2Fcountry%3Aus%2Fstate%3Any%2Fcounty%3Akings
          required: false
        - name: startDate
          in: query
          schema:
            type: date
            description: >-
              The earliest date to get elections for, inclusive, in UTC ISO 8601
              format.
            example: '2023-01-01'
          required: false
        - name: endDate
          in: query
          schema:
            type: date
            description: >-
              The latest date to get elections for, inclusive, in UTC ISO 8601
              format.
            example: '2023-01-02'
          required: false
        - name: includeQuestionAndAnswer
          in: query
          schema:
            type: boolean
            description: >-
              Whether Question and Answer content should be included for each
              returned election. Defaults to false if not specified. Response
              fields are formattable with the __[content
              formatting](#section/Standard-Parameters/Content-Formatting)__
              standard parameter.
            example: true
          required: false
        - name: includeBallotData
          in: query
          schema:
            type: boolean
            description: >-
              Whether ballot data (ballot measures, candidates, and contests)
              should be included for each returned election. Defaults to false
              if not specified.
            example: true
          required: false
      responses:
        '200':
          description: Elections fetched by query.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      elections:
                        type: array
                        items:
                          $ref: '#/components/schemas/election'
                      statewideOnly:
                        type: boolean
                        description: >-
                          Unable to determine elections more granular than the
                          state level.  Only state level elections returned.
                  pagination:
                    $ref: '#/components/schemas/pagination'
              examples:
                sampleElectionsResponse:
                  $ref: '#/components/examples/elections'
        '400':
          $ref: '#/components/responses/badRequestError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /exports:
    get:
      operationId: getExports
      summary: Exports
      description: >
        This endpoint serves presigned URLs to flat files on AWS S3. It supports
        no parameters.


        To set up a bulk data export, contact partnerships@democracy.works.


        Presigned URLs are temporary and expire after one hour. Download the
        file promptly after requesting a URL. If a URL expires before you can
        download your file, request a new one from this endpoint.


        Presigned URLs grant access to your data. Do not share these URLs with
        any party that should have access to this data.


        [Learn more about Working with presigned URLs on
        AWS](https://docs.aws.amazon.com/AmazonS3/latest/userguide/using-presigned-url.html).
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Exports fetched by query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/export'
              examples:
                sampleExportsRespose:
                  $ref: '#/components/examples/exports'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas:
    authority:
      description: A representation of an authority.
      type: object
      required:
        - ocdId
        - officeName
        - officialTitle
        - homepageUrl
        - registrationAuthorityLevel
        - electionAuthorityLevel
        - contact
      properties:
        ocdId:
          type: string
          description: >-
            Provides the
            [OCD-ID](https://opencivicdata.info/en/latest/ocdids.html)
            associated with the office.
        officeName:
          type: string
          description: Provides the state/office name.
        officialTitle:
          type: string
          description: |
            Provides the state election authority title.

            `Localized`
        homepageUrl:
          type: string
          description: >-
            Provides the URL for the office. This is typically Secretary of
            State or Division/State Board of Elections.
        pollingLocationUrl:
          type: string
          description: >-
            Provides a state website to find polling place information based on
            voter's location.
        studentVotingUrl:
          type: string
          description: Provides a state website with information for student voters.
        votingWithDisabilitiesUrl:
          type: string
          description: >-
            Provides a state website with information for voting with
            disabilities.
        votingWithPastConvictionsUrl:
          type: string
          description: >-
            Provides a state website with information for voting with past
            convictions.
        canonicalUrl:
          type: string
          description: >
            Provides a URL to the Democracy Works data source for attribution
            purposes. Attribution allows voters to assess the reliability and
            provenance of election data and guidance.


            `Localized`
        partyInstructions:
          type: string
          description: >
            Describes if voters are required to register with a party when they
            register to vote and if voters must be affiliated with a party in
            order to vote in an election.


            `Localized` `Formatted`
        updatedAt:
          type: string
          description: >-
            Provides the time at which data for the election authority was most
            recently updated.
        timezone:
          type: string
          description: >-
            Provides the time zone in which the majority of the population of a
            state resides.
        secondaryTimezone:
          type: string
          description: >-
            Provides the second most populated time zone of a state if
            applicable.
        localElectionAuthorityOfficeAlias:
          type: string
          description: |
            Indicates the word or phrase that describes a local election office.

            `Localized`
        separateRegistrationAndElectionAuthorities:
          type: boolean
          description: >-
            Indicates whether registration and voting are handled by separate
            election authorities.
        localElectionAuthorityName:
          type: string
          description: >
            Provides the name for all combined election-registration offices in
            a state.


            If blank, local election office is assumed.


            `Localized`
        localRegistrationAuthorityName:
          type: string
          description: >
            In states that have split local election offices, provides the name
            for all local registration-only offices in a state.


            If blank, local election office is assumed.


            `Localized`
        localRegistrationAuthorityLookupUrl:
          type: string
          description: >-
            Provides a URL where a voter can search for their local registration
            authority.
        localElectionAuthorityLookupUrl:
          type: string
          description: >-
            Provides a URL where a voter can search for their local election
            office.
        registrationAuthorityLevel:
          type: string
          description: >-
            Provides the governmental level in charge of voter registration.
            Options include state, county, or municipal.
        electionAuthorityLevel:
          type: string
          description: >-
            Provides the governmental level in charge of voting and elections.
            Options include state, county, or municipal.
        isRegistrationContact:
          type: boolean
          description: >-
            Indicates whether the authority should be the point of contact for
            voter registration services and inquiries.
        contact:
          type: object
          required:
            - email
            - physicalAddress
            - mailingAddress
          properties:
            phone:
              type: string
              description: Provides the phone number of the election authority.
            email:
              type: string
              description: Provides the email address of the election authority.
            physicalAddress:
              type: object
              properties:
                street:
                  type: string
                  description: Provides the street address of the election authority.
                city:
                  type: string
                  description: Provides the city associated with the election authority.
                state:
                  type: string
                  description: Provides the state associated with the election authority.
                zip:
                  type: string
                  description: Provides the zip code of the election authority.
            mailingAddress:
              type: object
              properties:
                street:
                  type: string
                  description: >-
                    Provides the mailing street address of the election
                    authority.
                city:
                  type: string
                  description: Provides the mailing city address of the election authority.
                state:
                  type: string
                  description: Provides the mailing state of the election authority.
                zip:
                  type: string
                  description: Provides the mailing ZIP code of the election authority.
        voting:
          type: object
          properties:
            inPersonVotingAvailable:
              type: boolean
              description: Indicates whether an authority supports voting in person.
            mailBallotsSentAutomatically:
              type: boolean
              description: >-
                Indicates whether elections are predominantly held by mail and
                ballots are automatically sent to all eligible voters by the
                election authority.
            inPerson:
              type: object
              properties:
                idRequiredAllVoters:
                  type: boolean
                  description: Indicates whether an ID is required for all voters.
                idInstructions:
                  type: string
                  description: >
                    Provides the state-specific instructions to vote in person
                    including what identification voters may need to show at the
                    voting location for states that have a
                    voting.predominantMethod of byMail.


                    `Localized` `Formatted`
            early:
              type: object
              properties:
                supported:
                  type: boolean
                  description: >-
                    Indicates whether there is an early voting process  allowed
                    within the state. A TRUE response does not mean that all
                    elections within the state will have early voting available.
                excuseRequired:
                  type: boolean
                  description: Indicates whether an excuse is required to vote early.
                alias:
                  type: string
                  description: >-
                    Provides the states preferred term to reference early
                    voting.
            byMail:
              type: object
              properties:
                ballotApplicationOnline:
                  type: string
                  description: Provides a URL for voters to request a mail ballot online.
                returnByMailUrl:
                  type: string
                  description: >-
                    Provides a URL with information for voters to learn more
                    about returning a mail ballot via the mail.
                eligibilityUrl:
                  type: string
                  description: >-
                    Provides a URL with information for voters to determine if
                    they are eligible to vote by mail according to their
                    authority.
                returnInPersonUrl:
                  type: string
                  description: >-
                    Provides a URL with information for voters to learn more
                    about returning a mail ballot in person.
                excuseRequired:
                  type: boolean
                  description: >-
                    Indicates whether a voter will need to provide an excuse
                    when requesting a ballot to vote by mail.
                excuses:
                  type: array
                  description: >
                    Describes the excuses that make voters eligible to vote by
                    mail in excuse-required states.


                    `Localized`
                  items:
                    type: object
                    properties:
                      excuse:
                        type: string
                        description: Description of the absentee excuse.
                        example: absence
                      example:
                        type: string
                        description: Example rationale fitting absentee excuse.
                        example: >-
                          I expect to be out of the county or the state on
                          election day.
                ballotTrackingUrl:
                  type: string
                  description: Provides a URL for voters to track their ballot in the mail.
                ballotApplicationDownload:
                  type: string
                  description: >
                    Provides a URL to a form that can be mailed or submitted to
                    request a mail ballot.


                    `Localized`
                idInstructions:
                  type: string
                  description: >
                    Provides state-specific instructions for voters who choose
                    to vote by mail.


                    `Localized` `Formatted`
                alias:
                  type: string
                  description: >
                    Provides the states preferred term to reference mail-in
                    ballots.


                    `Localized`
        registration:
          type: object
          properties:
            statusUrl:
              type: string
              description: >-
                Provides a URL that can be used to confirm whether or not a user
                is registered to vote.
            formUrl:
              type: string
              description: >
                Provides a URL to the voter registration form to download, or
                closest helpful webpage.


                `Localized`
            noRegistrationRequiredInstructions:
              type: string
              description: >
                Provides instructions for voters in states without voter
                registration. Only applicable for states that do not have voter
                registration.


                `Localized` `Formatted`
            methods:
              type: array
              description: >-
                Lists ways in which a voter can register to vote. Options
                include in person, by mail, online, call clerk, or not
                applicable.
            byMail:
              type: object
              properties:
                supported:
                  type: boolean
                  description: >-
                    Indicates whether the authority allows voter registration by
                    mail.
                url:
                  type: string
                  description: >-
                    Provides a URL with information for voters to learn more
                    about submitting a voter registration application via the
                    mail.
                forms:
                  type: string
                  description: >-
                    Provides which registration form the state accepts. Options
                    include :nvrf (national mail voter registration form) or
                    :[state-abbreviation]-reg (e.g. :wy-reg).
                raceFieldRequired:
                  type: boolean
                  description: >-
                    Indicates whether race is required by state when filling out
                    registration form.
                raceFieldInstructions:
                  type: string
                  description: >
                    Provides instructions for filling out race field in the
                    voter registration form if required.


                    `Localized` `Formatted`
                idInstructions:
                  type: string
                  description: >
                    Provides state-specific voter identification requirements
                    for voter registration.


                    `Localized` `Formatted`
                signatureInstructions:
                  type: string
                  description: >
                    Provides the state-specific requirements for someone to be
                    able to register to vote.


                    `Localized` `Formatted`
                citizenInstructions:
                  type: string
                  description: >
                    Provides the state-specific proof of citizenship
                    requirements to be able to register to vote.


                    `Localized` `Formatted`
                newVoterInstructions:
                  type: string
                  description: >
                    Provides instructions if there are different ID requirements
                    for voting for the first time after submitting a voter
                    registration application by mail.


                    `Localized` `Formatted`
            online:
              type: object
              properties:
                supported:
                  type: boolean
                  description: >-
                    Indicates whether the authority allows voter registration
                    online.
                instructions:
                  type: string
                  description: >
                    Provides the state-specific requirements and instructions to
                    register to vote online.


                    `Localized` `Formatted`
                url:
                  type: string
                  description: Provides the online voter registration URL.
            inPerson:
              type: object
              properties:
                supported:
                  type: boolean
                  description: >-
                    Indicates whether the authority allows voter registration in
                    person.
                electionDayInstructions:
                  type: string
                  description: >
                    Describes instructions for registering to vote in person on
                    election day.


                    `Localized` `Formatted`
                advanceUrl:
                  type: string
                  description: >-
                    Provides a URL with information for voters to learn more
                    about submitting registering to vote in person before voting
                    in person.
        youthRegistration:
          type: object
          properties:
            url:
              type: string
              description: >-
                Provides a URL with information on how voters can register to
                vote before they turn 18 if available.
            formUrl:
              type: string
              description: >
                Provides a URL to a form that voters can use to register to vote
                before they turn 18 if available.


                `Localized`
            supported:
              type: string
              description: >-
                Indicates whether or not a voter can register to vote before
                they turn 18.
            methods:
              type: string
              description: >-
                Lists the methods by which voters can register to vote before
                they turn 18. Options include byMail, inPerson, and online.
            onlineInstructions:
              type: string
              description: >
                Provides instructions for a voter to register to vote before
                they turn 18 using an online system if available.


                `Localized` `Formatted`
            inPersonInstructions:
              type: string
              description: >
                Provides instructions for a voter to register to vote in person
                before they turn 18 in person if available.


                `Localized` `Formatted`
            byMailInstructions:
              type: string
              description: >
                Provides instructions for a voter to register to vote before
                they turn 18 using a paper application form by mail if
                available.


                `Localized` `Formatted`
            eligibilityAge:
              type: string
              description: >-
                Provides the age in which voters can register to vote before
                they turn 18 if they are able to.
            statusAvailability:
              type: string
              description: >-
                Describes whether or not there is a process available to confirm
                whether someone is pre-registered to vote before they turn 18.
            eligibilityByElectionType:
              type: string
              description: >
                Provides the types of elections that count toward youth
                registration eligibility in states where youth are allowed to
                register if they will be 18 by election day. This will be null
                in states where youth registration is solely determined by a
                persons age.


                `Localized`
            eligibilityByElection:
              type: object
              properties:
                date:
                  type: string
                  description: >-
                    Provides the date of the next known statewide election in
                    which 17 year olds who will be 18 by said date could partake
                    in the youth registration process. This will be null for
                    states in which youth registration eligibility is decided by
                    voter age instead of by when a voters next election is.
                    This will also be null when there is no known date for the
                    next statewide election.
                primaryVotingSupported:
                  type: boolean
                  description: >-
                    Indicates whether 17 year olds can vote in a primary
                    election if they will be 18 by the coinciding general
                    election if they have registered to vote via their states
                    youth registration process. This will be null for states in
                    which youth registration eligibility is decided by voter age
                    instead of by when a voters next election is.
                futureLocalElectionApplicable:
                  type: boolean
                  description: >-
                    Indicates whether elections that are more local than
                    statewide count toward youth registration eligibility in
                    state legislation.  This will be null for states in which
                    youth registration eligibility is decided by voter age
                    instead of when a voters next election is.
        questionAndAnswer:
          type: object
          properties:
            keyChanges:
              type: object
              description: >
                Provides updates on key voting or registration process changes
                within a state.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            whoCanVote:
              type: object
              description: >
                Provides the eligibility criteria for a voter to register to
                vote in a state.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            byMailRegistration:
              type: object
              description: >
                Provides instructions for a voter to register to vote by mail
                using the National Voter Registration Form. If the National
                Voter Registration Form is not accepted within a state, provides
                instructions to register to vote by mail using the state voter
                registration form.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            electionDayRegistration:
              type: object
              description: >
                Indicates whether or not same day registration on Election Day
                is available.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            inPersonRegistration:
              type: object
              description: |
                Provides instructions on how to register to vote in person.

                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            youthRegistrationEligibility:
              type: object
              description: >
                Provides the eligibility criteria necessary for a person under
                the age of 18 to register to vote in their state.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            youthInPersonRegistration:
              type: object
              description: >
                Provides instructions on how and where a voter can register to
                vote in person before they turn 18 if they are eligible to do
                so.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            youthOnlineVoterRegistration:
              type: object
              description: >
                Provides instructions on how a voter can register to vote online
                before they turn 18 if they are eligible to do so. Provides any
                voter identification needed to use the online voter registration
                system. This will be null for states that do not allow voters to
                pre-register online.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            youthByMailRegistration:
              type: object
              description: >
                Provides instructions on how voters can register to vote by mail
                if they are eligible to register to vote before they turn 18.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            militaryAndOverseas:
              type: object
              description: >
                Provides instructions for military and overseas voters on how to
                vote in an election.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            checkRegistration:
              type: object
              description: >
                Provides instructions on how to check your registration status.
                If available, provides a URL to check your registration status.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            contactElectionOffice:
              type: object
              description: >
                Provides instructions on how to decide whether to contact your
                local election office or state election office.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            localContactInfo:
              type: object
              description: >
                Provides URL to find contact information for the office of the
                Local Election Authority.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            stateContactInfo:
              type: object
              description: >
                Provides contact information for the office of the State
                Election Authority.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            voteInPerson:
              type: object
              description: >
                Provides information on where to vote on Election Day, early
                voting, voter identification requirements, and how to check the
                status of your ballot if available.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            voteByMail:
              type: object
              description: >
                Provides information on whether or not an excuse is required to
                vote by mail, instructions on requesting and returning a ballot,
                instructions on how to check the status of your ballot if
                available, and information on what to do if you have recently
                moved and would like to request a ballot.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            whatsOnTheBallot:
              type: object
              description: >
                Provides a URL to the state's sample ballot lookup tool for
                statewide elections if available. If a URL isn't available,
                provides a link to Ballotpedia.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
    pagination:
      type: object
      properties:
        totalRecordCount:
          type: number
          description: Total records found for the given query.
        currentPage:
          type: number
          description: The page of records returned.
        pageSize:
          type: number
          description: The number of records returned.
    errors:
      type: object
      properties:
        status:
          type: integer
        message:
          type: array
      required:
        - status
        - message
    gatewayErrors:
      type: object
      properties:
        message:
          type: string
      required:
        - message
    ballotMeasure:
      description: >-
        Information on the ballot measures on the ballot, including a summary
        and the full text of the ballot measure.
      type: object
      required:
        - id
        - name
        - shortName
        - districtName
        - districtType
        - type
        - topics
        - summary
        - yesVote
        - noVote
        - ballotQuestion
        - ocdId
      properties:
        id:
          type: string
          description: The ID of the ballot measure.
        name:
          type: string
          description: The name of the ballot measure.
        shortName:
          type: string
          description: The concise name of the ballot measure.
        streamlinedName:
          type: string
          description: The ballot measure name without reference to the state name or year.
        districtName:
          type: string
          description: The name of the district covered by the ballot measure.
        districtType:
          type: string
          description: The type of district relevant to the ballot measure.
          enum:
            - cityTown
            - cityTownSubdivision
            - congress
            - county
            - countySubdivision
            - judicialDistrict
            - judicialDistrictSubdivision
            - schoolDistrict
            - schoolDistrictSubdivision
            - specialDistrict
            - specialDistrictSubdivision
            - state
            - stateLegislativeLower
            - stateLegislativeUpper
            - stateSubdivision
        type:
          type: string
          description: The type of ballot measure.
        topics:
          type: array
          items:
            type: string
          description: An array of topics covered by a ballot measure.
        topicAreas:
          type: array
          items:
            type: string
          description: |
            An array of topic areas covered by a ballot measure.

            `Localized`
        summary:
          type: string
          description: Describes a summary of the ballot measure.
        yesVote:
          type: string
          description: Describes what a vote supporting the ballot measure means.
        noVote:
          type: string
          description: Describes what a vote opposed to the ballot measure means.
        ballotQuestion:
          type: string
          description: The full text of the ballot measure.
        ocdId:
          type: string
          description: >-
            The OCD-ID associated with the jurisidiction covered by the ballot
            measure.
        status:
          type: string
    candidate:
      description: A representation of a candidate.
      type: object
      required:
        - id
        - fullName
        - firstName
        - lastName
        - partyAffiliation
        - isWriteIn
      properties:
        id:
          type: string
          description: The ID of the candidate.
        fullName:
          type: string
          description: The full name of the candidate.
        firstName:
          type: string
          description: The first name of the candidate.
        lastName:
          type: string
          description: The last name of the candidate.
        partyAffiliation:
          type: array
          description: Describes the party affiliation of the candidate.
          items:
            type: string
        ballotpediaUrl:
          type: string
        status:
          type: string
        isWriteIn:
          type: boolean
          description: Indicates whether a candidate is a write-in candidate.
        runningMateFullName:
          type: string
        runningMateTitle:
          type: string
        contact:
          type: object
          properties:
            campaign:
              type: object
              properties:
                email:
                  type: string
                  description: The candidates campaign email address.
                website:
                  type: string
                  description: The candidates campaign website.
                facebook:
                  type: string
                  description: The candidates campaign Facebook.
                twitter:
                  type: string
                  description: The candidates campaign Twitter.
                instagram:
                  type: string
                  description: The candidates campaign Instagram.
                youtube:
                  type: string
                  description: The candidates campaign YouTube.
                mailingAddress:
                  type: string
                  description: The candidates campaign mailing address.
                phone:
                  type: string
                  description: The candidates campaign phone number.
            personal:
              type: object
              properties:
                website:
                  type: string
                  description: The candidates personal website.
                facebook:
                  type: string
                  description: The candidates personal Facebook.
                twitter:
                  type: string
                  description: The candidates personal Twitter.
                instagram:
                  type: string
                  description: The candidates personal Instagram.
                youtube:
                  type: string
                  description: The candidates personal YouTube.
                linkedIn:
                  type: string
                  description: The candidates personal LinkedIn.
    contest:
      description: >-
        Information on the race for the specific office up for election,
        including the list of candidates and candidate information.
      type: object
      required:
        - id
        - name
        - level
        - districtName
        - ocdId
        - seatsUpForElection
        - candidates
      properties:
        id:
          type: string
          description: The ID of the contest.
        name:
          type: string
          description: 'The name of the office  (ex: President).'
        level:
          type: string
          description: The level of the contest.
          enum:
            - federal
            - state
            - local
        branch:
          type: string
          description: The branch of government of the office.
          enum:
            - executive
            - judicial
            - legislative
        districtName:
          type: string
          description: The name of the district that elects the office.
        districtType:
          type: string
          description: The type of district that elects the office.
          enum:
            - cityTown
            - cityTownSubdivision
            - congress
            - county
            - countySubdivision
            - judicialDistrict
            - judicialDistrictSubdivision
            - schoolDistrict
            - schoolDistrictSubdivision
            - specialDistrict
            - specialDistrictSubdivision
            - state
            - stateLegislativeLower
            - stateLegislativeUpper
            - stateSubdivision
        contestType:
          type: string
          description: The type of contest.
          enum:
            - regular
            - special
            - recall
        ocdId:
          type: string
          description: The OCD-ID of the contest.
        seatsUpForElection:
          type: string
          description: The number of seats up for election.
        hasPrimary:
          type: boolean
          description: >-
            For a general election, indicates if an associated primary election
            exists.
        primaryDate:
          type: string
          description: >-
            For a general election, provides the date of the associated primary
            election.
        candidates:
          type: array
          items:
            $ref: '#/components/schemas/candidate'
          description: A list of candidates running for election for the contest.
    election:
      description: A representation of an election.
      type: object
      required:
        - description
        - date
        - ocdId
      properties:
        ocdId:
          type: string
          description: >-
            Provides the
            [OCD-ID](https://opencivicdata.info/en/latest/ocdids.html)
            associated with the office.
        createdAt:
          type: string
          description: >-
            ISO 8601 timestamp of when the election was first created in
            Democracy Works' internal database.
        updatedAt:
          type: string
          description: >-
            ISO 8601 timestamp of when the election was last updated in
            Democracy Works' internal database.
        date:
          type: string
          description: Date of the election in YYYY-MM-DD format.
        description:
          type: string
          description: >
            The election name which includes the jurisdiction affected by the
            election and a descriptor of the election type.


            `Localized`
        type:
          type: string
          description: Provides the election type.
          enum:
            - congressional
            - county
            - municipal
            - presidentialPrimary
            - school
            - state
            - stateHouse
            - stateSenate
            - subMunicipal
        pollingLocationUrl:
          type: string
          description: >-
            Lookup URL for voting location information. If an election is
            all-mail, this URL will link to information for election-specific
            dropbox locations.
        canonicalUrl:
          type: string
          description: >
            Provides a URL to the Democracy Works data source for attribution
            purposes. Attribution allows voters to assess the reliability and
            provenance of election data and guidance.


            `Localized`
        website:
          type: string
          description: >
            Provides a URL for voters to access additional information on the
            upcoming election, when available.


            `Localized`
        guidancePhase:
          type: string
          description: >
            After an election is confirmed to be occurring, Democracy Works
            surfaces information about an election as details become available.
            An elections guidance phase describes the state of the currently
            available guidance.


            A past election is an election whose election date is in the past.
            A known election is an upcoming election for which key details
            have yet to be released. An active election is an upcoming
            election for which details have been vetted and confirmed by the
            Democracy Works team.
          enum:
            - past
            - known
            - active
        population:
          type: string
          description: >-
            Provides the affected population number for the given election using
            Census data or government data. This field will be null if the
            population is less than 5,000.
        voting:
          type: object
          properties:
            inPersonVotingAvailable:
              type: boolean
              description: Indicates whether an election has options to vote in person.
            mailBallotsSentAutomatically:
              type: boolean
              description: >-
                Indicates whether ballots are sent to eligible registered voters
                automatically in an election without voters having to request
                ballots themselves.
            early:
              type: object
              properties:
                url:
                  type: string
                  description: >-
                    Provides website for voters to find out more about when and
                    where to vote early in a specific election or provides
                    general information about the early voting process if
                    available.
                startDate:
                  type: string
                  description: >-
                    Provides the date when early voting or absentee in person
                    voting begins for the election in YYYY-MM-DD format if early
                    voting or absentee in person voting is available in the
                    election. If in person absentee voting starts as ballots are
                    available, as opposed to a specific start date, this field
                    will be blank and only voting.early.endDate will be
                    returned.
                endDate:
                  type: string
                  description: >-
                    Provides the date when early voting or absentee in person
                    voting ends for the election in YYYY-MM-DD format if early
                    voting or absentee in person voting is available in the
                    election.
                varies:
                  type: boolean
                  description: >-
                    Indicates whether early voting dates are consistent across
                    locations and whether early voting is available every day
                    between when early voting starts and when early voting ends.
            byMail:
              type: object
              properties:
                idInstructions:
                  type: string
                  description: >-
                    Provides election-specific instructions for voters who
                    choose to vote by mail.
                explainerUrl:
                  type: string
                  description: >
                    Provides a URL where voters can learn more about voting by
                    mail.


                    `Localized`
                allMail:
                  type: object
                  properties:
                    ballotInfoUrl:
                      type: string
                      description: >-
                        Provides a URL where voters can learn more about their
                        ballot in an all mail election.
                    ballotSendStartDate:
                      type: string
                      description: >-
                        Provides the date in which a state will start to send
                        mail ballots to all registered voters in an all mail
                        election. Not collected for most all mail elections.
                    ballotSendEndDate:
                      type: string
                      description: >-
                        Provides the date in which a state will finish sending
                        mail ballots to all registered voters in an all mail
                        election. Not collected for most all mail elections.
                    ballotReceiveExpectedStartDate:
                      type: string
                      description: >-
                        Provides the date in which states expect voters to start
                        receiving their mail ballots in an all mail election.
                        Not collected for most all mail elections.
                    ballotReceiveExpectedEndDate:
                      type: string
                      description: >-
                        Provides the date in which states expect voters to have
                        received their mail ballots in an all mail election. Not
                        collected for most all mail elections.
                deadline:
                  type: object
                  properties:
                    postmarkedOrReceived:
                      type: string
                      description: >-
                        Provides the deadline type for whether the the voted
                        ballot needs to be postmarked by or received by the
                        ballot return deadline. Only collected for specific
                        elections.
                    receivedNoLaterThan:
                      type: object
                      properties:
                        date:
                          type: string
                          description: >-
                            Provides the last date that the election office can
                            receive a voted ballot in the mail if the return
                            deadline has a "must be postmarked by YYYY-MM-DD if
                            received by YYYY-MM-DD" deadline. Only collected for
                            specific elections.
                        timestamp:
                          type: string
                          description: >-
                            Provides the ISO timestamp deadline for the last day
                            for the election office to receive a voted ballot in
                            the mail if the return deadline has a "must be
                            postmarked by YYYY-MM-DD if received by YYYY-MM-DD"
                            deadline. Only collected for specific elections.
                        description:
                          type: string
                          description: >-
                            Provides the time deadline on the last day the
                            election office can receive a voted ballot in the
                            mail if the return deadline is expressed in a "must
                            be postmarked by YYYY-MM-DD if received by
                            YYYY-MM-DD" format if the time deadline is expressed
                            in a phrase instead of an ISO timestamp. Examples
                            could include "close of business" or "close of
                            polls". Only collected for specific elections.
                    returnInPerson:
                      type: object
                      properties:
                        date:
                          type: string
                          description: >-
                            Provides the date deadline to return a voted ballot
                            in person. Only collected for specific elections.
                        timestamp:
                          type: string
                          description: >-
                            Provides the ISO timestamp deadline to return a
                            voted ballot in person. Not collected for most
                            elections.
                        description:
                          type: string
                          description: >
                            Provides the time deadline to return a voted ballot
                            in person if the deadline is expressed in a phrase
                            instead of an ISO timestamp. Examples include "close
                            of business" or "close of polls". Not collected for
                            most elections.


                            `Localized`
                    returnByMail:
                      type: object
                      properties:
                        date:
                          type: string
                          description: >-
                            Provides the deadline date to return a voted ballot
                            in the mail. Only collected for specific elections.
                        timestamp:
                          type: string
                          description: >-
                            Provides the ISO timestamp deadline to return a
                            voted ballot in the mail on the last day to return a
                            voted ballot. Not collected for most elections.
                        description:
                          type: string
                          description: >
                            Provides the time deadline to return a voted ballot
                            in the mail on the last day to return a voted ballot
                            if the deadline is expressed in a phrase and not in
                            an ISO timestamp. Examples include "close of
                            business" or "close of polls". Only collected for
                            specific elections.


                            `Localized`
                    ballotRequest:
                      type: object
                      properties:
                        postmarkedOrReceived:
                          type: string
                          description: >-
                            Provides the deadline type for the deadline to
                            request a ballot by mail. Types include postmarked
                            or received. Only collected for specific elections.
                        date:
                          type: string
                          description: >-
                            Provides the last date to request a ballot by mail
                            for the election. If there are different deadlines
                            for submitting an application in-person and by-mail,
                            this is the by-mail application request deadline.
                            All mail elections in which all voters receive a
                            ballot in the mail will not have a ballot request
                            deadline.
                        timestamp:
                          type: string
                          description: >-
                            Provides the ISO timestamp deadline date to request
                            a ballot by mail for the election on the last day
                            voters are able to do so. This time deadline is not
                            collected for most elections.
                        description:
                          type: string
                          description: >
                            Provides the time deadline to request a ballot by
                            mail if the deadline is described by a phrase and
                            not by an ISO timestamp. Examples include "close of
                            business" or "close of polls". Only collected for
                            specific elections.


                            `Localized`
            inPerson:
              type: object
              properties:
                idRequiredAllVoters:
                  type: boolean
                  description: Indicates whether an ID is required for all voters.
                idInstructions:
                  type: string
                  description: >-
                    Provides the election-specific instructions to vote in
                    person including what identification voters may need to show
                    at the voting location for states that have a
                    voting.predominantMethod of byMail.
                electionDay:
                  type: object
                  properties:
                    closing:
                      type: object
                      properties:
                        timestamp:
                          type: string
                          description: >-
                            Provides the ISO timestamp that in person voting
                            closes on Election Day. Only collected for specific
                            elections.
                        description:
                          type: string
                          description: >
                            Provides time of day deadline that indicates when in
                            person voting closes on Election Day when the
                            deadline is expressed in a phrase as opposed to an
                            ISO timestamp. Examples include "close of business"
                            or "close of polls". Only collected for specific
                            elections.


                            `Localized`
        registration:
          type: object
          properties:
            explainerUrl:
              type: string
              description: >
                Provides a URL where voters can learn more about registering to
                vote.


                `Localized`
            inPerson:
              type: object
              properties:
                atPollingPlaceOnElectionDay:
                  type: boolean
                  description: >-
                    Defines whether election day registration is available for
                    the election at all voting locations. If election day
                    registration takes place at a location other than the voting
                    location, this field will be "false".
                localSamedayRegistrationAuthorityLookupUrl:
                  type: string
                  description: >-
                    Provides a URL where voters can look up the authority with
                    which they can register to vote on election day.
                deadline:
                  type: object
                  properties:
                    date:
                      type: string
                      description: >-
                        Provides the deadline date to register in-person at the
                        local election office for the election.
                    timestamp:
                      type: string
                      description: >-
                        Provides the ISO timestamp to register in-person at
                        their local election office for the election on the last
                        day that voters can register to vote in person at their
                        local election office. Only collected for specific
                        elections.
                    description:
                      type: string
                      description: >
                        Provides the time deadline to register in-person at the
                        local election office for the election on the last day
                        that voters can register to vote in person at their
                        local election office if the time deadline is a phrase
                        as opposed to an ISO timestamp. Examples include "close
                        of business" or "close of polls". Only collected for
                        specific elections.


                        `Localized`
            online:
              type: object
              properties:
                url:
                  type: string
                  description: >-
                    Provides a URL with information regarding the online
                    registration process.
                instructions:
                  type: string
                  description: |
                    Provides instructions for online registration.

                    `Localized` `Formatted`
                deadline:
                  type: object
                  properties:
                    date:
                      type: string
                      description: >-
                        Provides the deadline date to register online for the
                        election. Only applicable to elections in states that
                        allow online voter registration.
                    timestamp:
                      type: string
                      description: >-
                        Provides ISO timestamp in which online voter
                        registration closes on the online voter registration
                        deadline. Only collected for specific elections.
                    description:
                      type: string
                      description: >
                        Provides phrase time of day deadline that indicates when
                        online voter registration closes on the online voter
                        registration deadline. Example would be "close of
                        business". Not collected for most elections.


                        `Localized`
            byMail:
              type: object
              properties:
                idInstructions:
                  type: string
                  description: >
                    Provides instructions regarding ID requirements for
                    registering to vote by mail.


                    `Localized` `Formatted`
                signatureInstructions:
                  type: string
                  description: >
                    Provides instructions regarding signature requirements for
                    submitting a voter registration application by mail.


                    `Localized` `Formatted`
                newVoterInstructions:
                  type: string
                  description: >
                    Provides instructions for new voters who are submitting a
                    voter registration application by mail.


                    `Localized` `Formatted`
                deadline:
                  type: object
                  properties:
                    date:
                      type: string
                      description: >-
                        Provides the last date to register by mail for the
                        election.
                    timestamp:
                      type: string
                      description: >-
                        Provides the ISO timestamp deadline to register by mail
                        for the election on the last day to registrer to vote.
                        Only collected for specific elections.
                    description:
                      type: string
                      description: >
                        Provides the time deadline to register by mail for the
                        election on the last day to register to vote if the
                        deadline is expressed in a phrase as opposed to an ISO
                        timestamp. Examples include "close of business" or
                        "close of polls". Only collected for specific elections.


                        `Localized`
                    postmarkedOrReceived:
                      type: string
                      description: >-
                        Defines whether a paper registration form needs to be
                        received by or postmarked by the reg-by-mail deadline
                        date for the election.
        questionAndAnswer:
          type: object
          properties:
            keyChanges:
              type: object
              description: >
                Provides updates on key voting or registration process changes
                within a state.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            keyChangesElection:
              type: object
              description: >
                Provides updates on key voting or registration process changes
                that may be relevant to an election.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            whoCanVote:
              type: object
              description: >
                Provides the eligibility criteria for a voter to register to
                vote in a state.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            voteInPerson:
              type: object
              description: >
                Provides information on where to vote on Election Day, early
                voting, voter identification requirements, and how to check the
                status of your ballot if available.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            voteByMail:
              type: object
              description: >
                Provides information on whether or not an excuse is required to
                vote by mail, instructions on requesting and returning a ballot,
                instructions on how to check the status of your ballot if
                available, and information on what to do if you have recently
                moved and would like to request a ballot.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            onlineVoterRegistration:
              type: object
              description: >
                Indicates whether or not online voter registration is available.
                If available, provides a URL and instructions on how to register
                to vote online.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            byMailRegistration:
              type: object
              description: >
                Provides instructions for a voter to register to vote by mail
                using the National Voter Registration Form. If the National
                Voter Registration Form is not accepted within a state, provides
                instructions to register to vote by mail using the state voter
                registration form.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            electionDayRegistration:
              type: object
              description: >
                Indicates whether or not same day registration on Election Day
                is available.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            inPersonRegistration:
              type: object
              description: |
                Provides instructions on how to register to vote in person.

                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            primaryRegistration:
              type: object
              description: >
                Provides instructions for voter registration and party
                affiliation requirements in partisan primary elections. 


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            primaryVote:
              type: object
              description: |
                Provides instructions for voting in a primary election.

                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            datesAndDeadlines:
              type: object
              description: >
                Provides a summary of all voting and registration deadlines
                associated with an election.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            voterId:
              type: object
              description: >
                Indicates whether or not voter identification will be necessary
                to vote in person for all voters and provides a list of accepted
                voter identification.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            whatsOnTheBallot:
              type: object
              description: >
                Provides a URL to the state's sample ballot lookup tool for
                statewide elections if available. If a URL isn't available,
                provides a link to Ballotpedia. This will be null for local
                elections.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            militaryAndOverseas:
              type: object
              description: >
                Provides instructions for military and overseas voters on how to
                vote in an election.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            checkRegistration:
              type: object
              description: >
                Provides instructions on how to check your registration status.
                If available, provides a URL to check your registration status.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            stateContactInfo:
              type: object
              description: >
                Provides contact information for the office of the State
                Election Authority. This will be null for local elections.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
            localContactInfo:
              type: object
              description: >
                Provides URL to find contact information for the office of the
                Local Election Authority.


                `Localized` `Formatted`
              properties:
                question:
                  type: string
                answer:
                  type: string
        ballotMeasures:
          $ref: '#/components/schemas/ballotMeasure'
        contests:
          $ref: '#/components/schemas/contest'
    export:
      description: A representation of an export.
      type: object
      properties:
        exportName:
          type: string
          description: Provides the name of the export file.
        exportPath:
          type: string
          description: >-
            Provides a presigned URL to a file in AWS s3 containing data in JSON
            format.
  examples:
    stateAuthorities:
      summary: Sample state authorities response
      description: >
        This is **fictional** data to provide examples of fields values.


        The first authority has all fields populated for demonstration purposes.


        The second authority is a more realistic example which shows that not
        all fields are applicable to every authority.
      value:
        data:
          authorities:
            - ocdId: ocd-division/country:us/state:al
              officeName: Alabama
              officialTitle: Office of the Secretary of State
              homepageUrl: https://sos.alabama.gov/alabama-votes
              pollingLocationUrl: https://myinfo.alabamavotes.gov/voterview
              votingWithDisabilitiesUrl: >-
                https://www.sos.alabama.gov/alabama-votes/voter/assistance-disability
              votingWithPastConvictionsUrl: >-
                https://www.sos.alabama.gov/sites/default/files/Voting-Rights-Final-Version.pdf
              canonicalUrl: https://staging.voting.democracy.works/en/vote/al.html
              partyInstructions: >-
                If you choose not to declare a political preference at the
                primary election, you will not be eligible to vote in any
                political partys primary election. You are, however, still
                eligible to vote on any proposed constitutional amendments that
                are up for a vote.
              updatedAt: '2023-12-05T10:05:43.853825+00:00'
              timezone: Central
              secondaryTimezone: Eastern
              localElectionAuthorityOfficeAlias: Absentee Election Manager
              separateRegistrationAndElectionAuthorities: true
              localElectionAuthorityName: Local Authority
              localRegistrationAuthorityName: Board of Registrars
              localRegistrationAuthorityLookupUrl: https://www.sos.alabama.gov/city-county-lookup/bor
              localElectionAuthorityLookupUrl: >-
                https://www.sos.alabama.gov/city-county-lookup/absentee-election-manager
              registrationAuthorityLevel: county
              electionAuthorityLevel: county
              contact:
                phone: (334) 242-7210
                email: alavoter@vote.alabama.gov
                physicalAddress:
                  street: 600 Dexter Ave, Suite E-206
                  city: Montgomery
                  state: AL
                  zip: '36130'
                mailingAddress:
                  street: P. O. Box 5616
                  city: Montgomery
                  state: AL
                  zip: 36103-5616
              voting:
                inPersonVotingAvailable: true
                mailBallotsSentAutomatically: false
                inPerson:
                  idRequiredAllVoters: true
                  idInstructions: >
                    You will need to show photo ID to vote in
                    Alabama.<br>Acceptable

                    forms of valid photo ID include: Alabama driver's license
                    (may be expired up

                    to 60 days); Alabama non-driver's ID card (may be expired up
                    to 60 days); Alabama

                    photo voter ID card; digital driver's license or non-driver
                    ID issued by the

                    Alabama Law Enforcement Agency; photo ID card issued by
                    Alabama or any other

                    state (examples include AL Department of Corrections Release
                    - Temporary ID,

                    AL Movement/Booking Sheet from Prison/Jail System, or a
                    pistol permit); federal

                    government issued ID; US passport; employee ID card issued
                    by the federal government,

                    the State of Alabama, county, municipality, board or other
                    entity in Alabama;

                    student or employee ID issued by a public or private college
                    or university in

                    Alabama; US military ID; valid tribal ID<br><br>Voters
                    without ID: If you are

                    unable to provide ID, you will be able to vote a provisional
                    ballot. In order

                    for your ballot to be counted, you must provide your ID,
                    including your address

                    and your telephone number, to the board of registrars no
                    later than 5:00 P.M.

                    on the Friday following the election. If you fail to provide
                    ID to the board

                    of registrars by that time, your ballot will not be counted.
                    In addition, voters

                    who do not show valid photo ID at the polls can vote a
                    regular ballot if they

                    are positively identified by two election officials as a
                    voter on the poll list

                    who is eligible to vote and the election officials sign a
                    sworn affidavit.
                early:
                  supported: false
                  excuseRequired: false
                  alias: early vote
                byMail:
                  ballotApplicationOnline: >-
                    https://www.sos.alabama.gov/alabama-votes/voter/absentee-voting
                  returnByMailUrl: >-
                    https://www.sos.alabama.gov/alabama-votes/voter/absentee-voting
                  eligibilityUrl: >-
                    https://www.sos.alabama.gov/alabama-votes/voter/absentee-voting
                  returnInPersonUrl: >-
                    https://www.sos.alabama.gov/alabama-votes/voter/absentee-voting
                  excuseRequired: true
                  excuses:
                    - excuse: absence
                      example: >-
                        I expect to be out of the county or the state on
                        election day.
                    - excuse: illnessDisability
                      example: >-
                        I am physically incapacitated and will not be able to
[...]
